@CHARSET "UTF-8";

.current-revision td {
  background-color: #faafbe;
}

.published-revision td {
  background-color: #aaffaa;
}

.width-auto {
  width: auto;
}

form.workbench-moderation-moderate-form,
form.workbench-moderation-moderate-form div,
form.workbench-moderation-moderate-form label {
  display: inline;
}

#workbench-moderation-admin-transitions-form table {
  min-width: 380px;
}