 
//color overrides
$primary-color: #2398d9;
$primary-alt: tint( $primary-color, 25% );
$secondary-color: #666666;
$dark-bg: #ffffff;

//topbar

$topbar-height: 55px;


$thumb-radius: 50px!important;