@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}


// Vertical alignment (top, center or bottom)
// ----------------------------------------------------------------------------

@mixin grid-align($alignment) {
  font-size: 0;

  > [class^=col-] {
    float: none;
    display: inline-block;

    @if ($alignment == top) {
      vertical-align: top;
    }

    @if ($alignment == middle) {
      vertical-align: middle;
    }

    @if ($alignment == bottom) {
      vertical-align: bottom;
    }
  }
}

.grid-align-top { @include grid-align(top); }
@include media-breakpoint-up(sm) { .grid-align-top--sm-up { @include grid-align(top); } }
@include media-breakpoint-up(md) { .grid-align-top--md-up { @include grid-align(top); } }
@include media-breakpoint-up(lg) { .grid-align-top--lg-up { @include grid-align(top); } }
@include media-breakpoint-up(xl) { .grid-align-top--xl-up { @include grid-align(top); } }

.grid-align-middle { @include grid-align(middle); }
@include media-breakpoint-up(sm) { .grid-align-middle--sm-up { @include grid-align(middle); } }
@include media-breakpoint-up(md) { .grid-align-middle--md-up { @include grid-align(middle); } }
@include media-breakpoint-up(lg) { .grid-align-middle--lg-up { @include grid-align(middle); } }
@include media-breakpoint-up(xl) { .grid-align-middle--xl-up { @include grid-align(middle); } }

.grid-align-bottom { @include grid-align(bottom); }
@include media-breakpoint-up(sm) { .grid-align-bottom--sm-up { @include grid-align(bottom); } }
@include media-breakpoint-up(md) { .grid-align-bottom--md-up { @include grid-align(bottom); } }
@include media-breakpoint-up(lg) { .grid-align-bottom--lg-up { @include grid-align(bottom); } }
@include media-breakpoint-up(xl) { .grid-align-bottom--xl-up { @include grid-align(bottom); } }


// Vertical alignment (top, center or bottom)
// ----------------------------------------------------------------------------

@mixin center-elements {
  text-align: center;

  > [class*="col-"] {
    display: inline-block;
    float: none;
    margin-right: -4px;
    text-align: left;
    vertical-align: top;
  }
}

.center-elements { @include center-elements(); }
@include media-breakpoint-up(sm) { .center-elements--sm-up { @include center-elements(); } }
@include media-breakpoint-up(md) { .center-elements--md-up { @include center-elements(); } }
@include media-breakpoint-up(lg) { .center-elements--lg-up { @include center-elements(); } }
@include media-breakpoint-up(xl) { .center-elements--xl-up { @include center-elements(); } }
