
@mixin blur ($radius) {
  -webkit-filter: blur($radius+px); /* Chrome, Safari */
  -ms-filter: blur($radius+px); /* IE12? */
  //filter: url("data:image/svg+xml;utf8,<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"><filter id=\"blur\"><feGaussianBlur stdDeviation=\"#{$radius}\" /></filter></svg>#blur"); /* Firefox, Safari, Chrome*/
  filter: progid:DXImageTransform.Microsoft.Blur(Strength=$radius); /* IE9 */
}
