
// Blocks
// ----------------------------------------------------------------------------

vs-festival-profile-header,
.vs-festival-profile-header {
  @include clearfix();
  display: block;
  position: relative;

  & + & {
    margin-top: 1.25rem;
  }
}


// Elements
// ----------------------------------------------------------------------------

.vs-festival-profile-header__content-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;

  .vs-festival-profile-header--upcoming & {
    min-height: 8.125rem;
  }

  .vs-festival-profile-header--past & {
    min-height: 19.75rem;
  }
}

.vs-festival-profile-header__background {
  @include transform(translateX(-50%));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  max-width: 81.25rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100%;

  .vs-festival-profile-header--past & {
    height: 19.75rem;
  }
}

.vs-festival-profile-header__content {
  width: 100%;
  text-align: center;

  .vs-festival-profile-header--upcoming & {
    padding: .563rem 1.25rem 1.75rem 1.25rem;
  }

  .vs-festival-profile-header--past & {
    padding: 3.125rem 3.438rem 3.125rem 3.438rem;
  }
}

.vs-festival-profile-header__button {
  width: 100%;
  margin-top: .938rem;
}

.vs-festival-profile-header__title {
  font-family: $font-family-serif;
  color: $c-black;
  font-weight: 500;
  text-transform: uppercase;

  .vs-festival-profile-header--upcoming & {
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin-bottom: .125rem;
  }

  .vs-festival-profile-header--past & {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-bottom: .188rem;
  }
}

.vs-festival-profile-header__past-title {
  font-family: $font-family-serif;
  font-size: 1.125rem;
  color: rgba($c-black, .6);
  text-align: center;
  text-transform: uppercase;
  padding-top: rem(28);
}

.vs-festival-profile-header__date {
  font-family: $font-family-serif;
  color: $c-black;
  text-transform: uppercase;

  .vs-festival-profile-header--upcoming & {
    opacity: .3;
    font-size: 1.125rem;
    line-height: 1.375rem;
  }

  .vs-festival-profile-header--past & {
    font-size: 1.125rem;
    line-height: 1.125rem;
  }
}


// Modifiers
// ----------------------------------------------------------------------------

@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-festival-profile-header--color-#{$color} {
    .vs-festival-profile-header__date,
    .vs-festival-profile-header__content {
      color: map_get($map, 'solid-color');
    }
    .vs-festival-profile-header__title {
      color: map_get($map, 'title-color');
    }
  }

  .vs-region--gradient-#{$color} .vs-festival-profile-header--upcoming {
    .vs-festival-profile-header__date,
    .vs-festival-profile-header__content {
      color: map_get($map, 'text-color');
    }
    .vs-festival-profile-header__title {
      color: map_get($map, 'title-color');
    }
  }
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {
  .vs-festival-profile-header__content-wrapper {
    .vs-festival-profile-header--upcoming & {
      min-height: 6.25rem;
    }

    .vs-festival-profile-header--past & {
      min-height: 26.875rem;
    }
  }

  .vs-festival-profile-header__background {
    .vs-festival-profile-header--past & {
      height: 26.875rem;
    }
  }

  .vs-festival-profile-header__content {
    .vs-festival-profile-header--past & {
      padding: 7.563rem 0 5.625rem 0;
    }
  }

  .vs-festival-profile-header__title {
    .vs-festival-profile-header--upcoming & {
      font-size: 1.875rem;
      line-height: 2.25rem;
      margin-bottom: .313rem;
    }

    .vs-festival-profile-header--past & {
      font-size: 3.125rem;
      line-height: 2.25rem;
      margin-bottom: .625rem;
    }
  }

  .vs-festival-profile-header__date {
    .vs-festival-profile-header--upcoming & {
      font-size: 1.875rem;
      line-height: 2.25rem;
      font-weight: 500;
    }

    .vs-festival-profile-header--past & {
      font-size: 2.125rem;
      line-height: 2.688rem;
      margin-bottom: 1.875rem;
    }
  }

  .vs-festival-profile-header__buttons-wrapper {
    .vs-festival-profile-header--upcoming & {
      margin-top: .938rem;
    }

    .vs-festival-profile-header--past & {
      margin-top: 1.875rem;
    }
  }

  .vs-festival-profile-header__button {
    margin: 0 .438rem;
    width: auto;
  }

  .vs-festival-profile-header__past-title {
    font-size: 1.875rem;
    text-align: left;
    margin-bottom: rem(16);
  }
}

@include media-breakpoint-up(lg) {
  .vs-festival-profile-header__content {
    .vs-festival-profile-header--upcoming & {
      position: relative;
      width: 100%;
      padding: .75rem 0 1.375rem 0;
      text-align: left;
    }
  }

  .vs-festival-profile-header__buttons-wrapper {
    .vs-festival-profile-header--upcoming & {
      @include center(false, true);
      right: 0;
      margin: 0;
      text-align: right;
    }
  }

  .vs-festival-profile-header__past-title {
    margin-left: 4.0625rem;
    padding-top: rem(45);
    margin-bottom: rem(29);
  }
}

@include media-breakpoint-up(xl) {
  .vs-festival-profile-header__content {
    .vs-festival-profile-header--upcoming & {
      padding-left: 4.375rem;
      padding-right: 4.375rem;
    }
  }

  .vs-festival-profile-header__buttons-wrapper {
    .vs-festival-profile-header--upcoming & {
      right: 3.938rem;
    }
  }
}
