
// Blocks
// ----------------------------------------------------------------------------

vs-sticky-basket,
.vs-sticky-basket {
  @include clearfix();
  display: block;
  height: 5.625rem;
  position: relative;
  z-index: 5;

  &:not(.vs-sticky-basket--top) .vs-sticky-basket__wrapper {
     @include transform(none);
     @include transition-duration(0s);
  }

  &.vs-sticky-basket--top .vs-sticky-basket__wrapper {
    opacity: 0;
    @include transform(translateY(100%));
  }

   &.vs-sticky-basket--reset-opacity .vs-sticky-basket__wrapper {
    opacity: 1;
  }

  &.vs-sticky-basket--reveal .vs-sticky-basket__wrapper {
    opacity: 1;
    @include transform(translateY(0));
  }
}


// Elements
// ----------------------------------------------------------------------------

.vs-sticky-basket__wrapper {
  @include transition(transform .5s ease-in-out);
  @include box-shadow(0 0 15px rgba($c-black, .15));
  background-color: $c-white;
  padding: 1.5625rem 0;
}

.vs-sticky-basket__chevron {
  fill: currentColor;
  min-width: initial;
  white-space: normal;
  height: .75rem;
  width: .4375rem
}

.vs-sticky-basket__chevron--back {
  margin-right: .5em;
}

.vs-sticky-basket__chevron--next {
  @include transform(rotate(180deg));
  margin-left: .5em;
}

.vs-sticky-basket__btn {
  white-space: normal;
  position: relative;
}

.vs-sticky-basket__btn--right {
  white-space: nowrap;
}


// Modifiers
// ----------------------------------------------------------------------------

.vs-sticky-basket--top .vs-sticky-basket__wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.vs-sticky-basket--bottom .vs-sticky-basket__wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {
  vs-sticky-basket,
  .vs-sticky-basket {
    height: $sticky-basket-height;
  }

  .vs-sticky-basket__btn-right {
    min-width: 13.75rem;
  }
}
