
// Blocks
// ----------------------------------------------------------------------------

vs-hero-event-card,
.vs-hero-event-card {
  @include clearfix();
  display: block;
}


// Elements
// ----------------------------------------------------------------------------

.vs-hero-event-card__content {
  border-radius: 0 0 .625rem .625rem;
  background-color: $c-white;
  padding: 1.25rem;
  position: relative;


  .vs-color__layer-1,
  .vs-color__layer-3 {
    border-radius: 0 0 .625rem .625rem;

    @include media-breakpoint-up(lg) {
      border-radius: .625rem;
    }
  }
}

.vs-hero-event-card__image {
  min-height: 12.5rem;
  background-size: cover;
  background-position: center center;
  border-radius: .625rem .625rem 0 0;
}

.vs-hero-event-card__outline-title {
  font-family: $font-family-serif;
  font-size: 3.4375rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 3.125rem;
  position: relative;
  text-align: right;
  right: -7.5rem;
  z-index: 1;

  @include media-breakpoint-up(lg) {
    font-size: 4.625rem;
    line-height: 4.3125rem;
    right: -7.625rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 6.75rem;
    line-height: 6.4375rem;
    right: -10.625rem;
  }
}

.vs-hero-event-card__title {
  font-family: $font-family-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: $c-black;
  text-transform: uppercase;
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.vs-hero-event-card__date {
  font-family: $font-family-serif;
  color: $c-black;
  font-size: .75rem;
  text-transform: uppercase;
  margin-bottom: 1.0625rem;
  position: relative;
  z-index: 1;
}

.vs-hero-event-card__text {
  position: relative;
  z-index: 1;

  + .vs-hero-event-card__buttons {
    margin-top: rem(35);

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 3.65625rem;
  }
}

.vs-hero-event-card__button {
  display: block;
  width: 100%;
  margin-bottom: .625rem;
  position: relative;
  z-index: 1;

  &:last-child {
    margin-bottom: 0;
  }
}


// Modifiers
// ----------------------------------------------------------------------------

@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-hero-event-card--gradient-#{$color} {
    .vs-hero-event-card__content {
      @include gradient-directional(map_get($map, 'from'), map_get($map, 'to'), map_get($map, 'rotate'));

      .vs-hero-event-card__date,
      .vs-hero-event-card__text {
        color: map_get($map, 'text-color');
      }
      .vs-hero-event-card__title, {
        color: map_get($map, 'title-color');
      }

      .vs-hero-event-card__button:first-child {
        background-color: $c-white;
        background-image: none;
        color: $c-blue;
      }
    }
  }
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {
  .vs-hero-event-card__content {
    padding: 1.75rem 2.375rem;
  }

  .vs-hero-event-card__title {
    font-size: 1.875rem;
    line-height: 1.875rem;
  }

  .vs-hero-event-card__date {
    font-size: 1.25rem;
  }

  .vs-hero-event-card__button {
    display: inline-block;
    width: auto;
    margin-bottom: 0;

    &:first-child {
      margin-right: 1.25rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  .vs-hero-event-card__image {
    border-radius: .625rem;
    min-height: 20.15625rem;
  }

  .vs-hero-event-card__content {
    @include box-shadow(0 2px 10px 0 rgba(0,0,0, .10));
    border-radius: .625rem;
    margin-left: -2.5rem;
    width: calc(100% - 3.75rem);
    margin-top: -100px;
  }
}

@include media-breakpoint-up(xl) {
  .vs-hero-event-card__content {
    width: calc(100% - 9.375rem);
  }
}

@media screen and (min-width: 1360px) {
  .vs-hero-event-card__image {
    border-radius: .625rem;
    min-height: 26.875rem;
  }

  .vs-hero-event-card__content {
    margin-left: -3.75rem;
    margin-top: -6.25rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }

  .vs-hero-event-card__text {
    max-width: 750px;
  }
}


.vs-hidden-hdpi {
  display: block;
}

.vs-visible-hdpi {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .vs-hidden-hdpi {
    display: none;
  }

  .vs-visible-hdpi {
    display: block;
  }
}
