
// Blocks
// ----------------------------------------------------------------------------

vs-mylaps,
.vs-mylaps {
  display: block;
  position: relative;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;

  @include media-breakpoint-up('xs') { min-height: 490px; }
  @include media-breakpoint-up('md') { min-height: 690px; }
  @include media-breakpoint-up('lg') { min-height: 890px; }
}
