
// Blocks
// ----------------------------------------------------------------------------

.vs-promo-banner-heading {
  margin-bottom: 0.625rem;
  padding-left: 1.25rem;
}

vs-promo-banner,
.vs-promo-banner {
  display: block;
  margin-bottom: 9.5rem;
  z-index: 3;

  &:last-child {
    margin-bottom: 0;
  }
}

// Elements
// ----------------------------------------------------------------------------

.vs-promo-banner-block-wrapper {
  position: relative;
  min-width: 20rem;
  min-height: 16.25rem;
  width: 100%;
  overflow: hidden;
}

.vs-promo-banner__background {
  width: 100%;
  min-height: 16.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.vs-promo-banner__content-wrapper {
  background-color: $c-white;
  min-height: 16.5625rem;
  padding: 1.875rem 2.5rem 1.875rem 2.5rem;
  position: relative;
}

.vs-promo-banner__title {
  color: $c-black;
  position: relative;
  display: block;
  margin: 0 0 1.2rem 0;
  font-family: $font-family-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
}

.vs-promo-banner__content {
  display: block;
  text-align: center;
  padding-bottom: 5.5rem;

  > p:first-child {
    margin-bottom: 1.1875rem;
  }
}

.vs-promo-banner__ctaButton-wrapper {
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  width: calc(100% - 3.75rem);
  bottom: 1.875rem;
}

.vs-promo-banner__ctaButton {
  margin-right: 0.9375rem;
  margin-top: 0.9375rem;
}

.vs-promo-banner__ctaTexts-wrapper {
  font-family: $font-family-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  color: $c-blue;
}

.vs-promo-banner__caption {
  position: absolute;
  right: 4.1875rem;
  bottom: 1.25rem;
  left: 35.4375rem;
  font-family: $font-family-sans-serif;
  font-weight: 300;
  font-size: 0.9375rem;
  color: $c-white;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-align: right;
}

.vs-promo-banner-constraint {
  overflow: hidden;
}

.vs-promo-banner-constraint__container.container {
  padding: 0;

  .vs-promo-banner-wrapper {

    @media screen and (min-width: 1440px) {
      @include make-constrained();
    }

    .vs-promo-banner .vs-promo-banner__background {
      border-radius: .625rem;
    }
  }
}



// Modifiers
// ----------------------------------------------------------------------------

@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-promo-banner--color-#{$color} {
    .vs-promo-banner__caption {
      color: map_get($map, 'solid-color');
    }
  }
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(lg) {
  .vs-promo-banner-block-wrapper {
    min-height: 26.875rem;
  }

  .vs-promo-banner__background {
    min-height: 26.875rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .vs-promo-banner__content-wrapper {
    @include border-radius(.625rem);
    left: 8.125rem;
    width: 31.25rem;
    min-height: 24.375rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding: 1.84rem 4.375rem 2.5rem 1.875rem;
  }

  .vs-promo-banner__title {
    margin-bottom: 2.8rem;
    font-size: 3.125rem;
    line-height: 3.125rem;
    text-align: left;
  }

  .vs-promo-banner__content {
    text-align: left;

    > p:first-child {
      margin-bottom: 1.25rem;
    }
  }

  .vs-promo-banner__ctaTexts-wrapper {
    text-align: left;
  }

  .vs-promo-banner__ctaButton-wrapper {
    text-align: left;
  }
}
