
// Blocks
// ----------------------------------------------------------------------------

vs-header,
.vs-header {
  @include transition(all .5s ease-in-out);
  @include clearfix;
  display: block;
  padding: .5rem calc(.75rem - 15px);
  position: fixed;
  width: 100%;
  z-index: 3;

  &.vs-header--pinned {
    @include transform(translateY(0));
  }

  &.vs-header--top {
    position: absolute;
  }
}

@include media-breakpoint-up('md') {
  .vs-header--top.vs-header--video-fade-in {
    opacity: 0;
  }

  .vs-header--top.vs-header--video-fade-out {
    opacity: 1;
  }
}

// Elements
// ----------------------------------------------------------------------------

.vs-header__logo-wrapper {
  position: relative;
  float: left;
  z-index: 1;
}

.vs-header__logo {
  position: absolute;
  background: transparent url('../img/lsc-logo-full.png') no-repeat left center;
  background-size: contain;
  height: 2.5625rem;
  width: 9.375rem;
  top: .25rem;
  z-index: -1;

  &:hover {
    opacity: .7;
  }
}

.vs-header__nav-wrapper {
  text-align: right;
  position: relative;
  display: table;
  top: -.375rem;
  right: -.5rem;

  width: calc(100% - 180px);
  float: right;
}

.vs-header__nav {
  margin-bottom: 0;
  font-size: 0;
  display: none;
  vertical-align: middle;
  width: calc(100% - 8px);

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    width: calc(100% - 12px);
  }
}

.vs-header__nav-item {
  display: inline-block;
  padding-right: 2.5rem;
  margin-top: rem(4);

  &:nth-last-child(2) {
    padding-right: 0;
  }

  &.highlight {
    float: left;
    padding: 0;
    margin-top: 0;

    .vs-header__nav-link {
      font-size: rem(14);
      color: #C6C6C6;
      background-color: white;
      border-radius: rem(96);
      line-height: rem(12);
      display: block;
      padding: rem(10) rem(18);
      border: rem(2) solid white;
      position: relative;
      top: rem(-3);

      &:hover {
        background-color: transparent;
        color: white;
        opacity: 1;
      }

      .vs-header--pinned &,
      .vs-header--unpinned & {
        top: rem(-3);
      }

      .vs-header--top & {
        top: rem(-10);
      }
    }
  }
}

.vs-header__nav-link {
  @include transition(all .2s);
  font-family: $font-family-serif;
  color: $c-white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;

  &:hover,
  &:focus {
    opacity: .7;
    color: $c-white;
    text-decoration: none;
  }

  .active & {
    border-bottom: 2px solid $c-white;
    padding-bottom: 4px;
  }
}

.vs-header__basket {
  @include transition(opacity .5s ease-in-out);
  background: transparent url('../img/basket.svg') no-repeat 0 0;
  background-size: contain;
  display: inline-block;
  text-align: center;
  color: $c-white;
  width: 2.1875rem;
  height: 1.6875rem;
  position: relative;
  top: -.125rem;
  vertical-align: middle;

  &:hover {
    opacity: .7;
  }
}

.vs-header__basket__value {
  font-size: .625rem;
  position: relative;
  top: 4px;
  color: $c-white;
}

.vs-header__link {
  display: block;
  height: 100%;
}


// Responsive menu trigger
// ----------------------------------------------------------------------------

.vs-menu-trigger {
  @include appearance(none);
  @include box-shadow(none);
  @include transition(all .5s ease-in-out);
  background-color: transparent;
  overflow: hidden;
  width: 3.375rem;
  height: 3.125rem;
  padding: 1rem;
  font-size: 0;
  border-radius: 0;
  cursor: pointer;
  z-index: 1;
  border: 0;
  vertical-align: middle;
  position: relative;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    top: .5rem;
  }

  &:hover {
    opacity: .7;
  }

  .vs-menu-open & {
    .vs-menu-trigger__bar {
      background-color: transparent;

      &:before {
        @include transition-delay(0s, .3s);
        @include transform(rotate(45deg));
        top: 0;
      }

      &:after {
        @include transition-delay(0s, .3s);
        @include transform(rotate(-45deg));
        bottom: 0;
      }
    }
  }
}

.vs-menu-trigger__bar {
  @include transition(background 0s 0.3s);
  display: block;
  position: absolute;
  height: 2px;
  width: 1.375rem;
  background-color: $c-white;

  &:before,
  &:after {
    @include transition-delay(0.3s, 0s);
    @include transition-duration(0.3s, 0.3s);
    background-color: $c-white;
    position: absolute;
    content: '';
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
  }

  &:before {
    @include transition-property(top, transform);
    top: -8px;
  }

  &:after {
    @include transition-property(bottom, transform);
    bottom: -8px;
  }
}


// Mobile menu
// ----------------------------------------------------------------------------

.vs-mobile-menu {
  display: table;
  width: 100%;
  height: 100%;
}

.vs-mobile-menu__inner {
  @include transition(all 0.3s ease-in-out);
  @include transform(scale(0.8));
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  opacity: 0;

  .vs-menu-open & {
    @include transition(all 0.3s ease-in-out 0.3s);
    @include transform(scale(1));
    opacity: 1;
  }
}

.vs-mobile-menu__menu {
  font-family: $font-family-serif;
  padding: 0;
  margin: 0;
}

.vs-mobile-menu__item {
  list-style-type: none;
}

.vs-mobile-menu__link {
  @include transition(all .2s);
  display: block;
  font-size: 1rem;
  font-weight: 500;
  color: $c-white;
  padding: .85rem 0;
  text-transform: uppercase;

  &:hover {
    color: $c-white;
    opacity: .7;
  }
}


// Modifiers
// ----------------------------------------------------------------------------

.vs-menu-trigger--menu {
  @include transition(visibility 0s .5s, opacity .5s);
  position: fixed;
  top: .125rem;
  right: .375rem;
  opacity: 0;
  visibility: hidden;

  .vs-menu-open & {
    @include transition(opacity .5s ease);
    opacity: 1;
    visibility: visible;


    .vs-menu-trigger__bar {
      background-color: transparent;

      &:before {
        @include transition-delay(0s, .3s);
        @include transform(rotate(45deg));
        top: 0;
      }

      &:after {
        @include transition-delay(0s, .3s);
        @include transform(rotate(-45deg));
        bottom: 0;
      }
    }
  }

  &:hover {
    opacity: .7;
  }
}

.vs-menu-trigger--top {
  top: .125rem;
  right: .4375rem;
}

.vs-header--not-top {
  background-color: $c-lsc-red;
  top: 0;

  .vs-header__logo {
    background-image: url('../img/lsc-logo-mark.svg');
  }
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {

  vs-header,
  .vs-header {
    padding: 3rem calc(3.125rem - 15px) 3rem calc(2.1875rem - 15px);
  }

  .vs-menu-trigger--top {
    top: 2.625rem;
    right: 2.625rem;
  }

  .vs-menu-trigger__bar {
    width: 1.75rem;
  }

  .vs-header__logo {
    @include transition(all .5s ease-in-out);
    height: 2.5625rem;
    width: 9.375rem;
    top: -.8125rem;
  }

  .vs-header__basket {
    width: 3.14rem;
    height: 2.375rem;
    font-size: 1.25rem;
  }

  .vs-header__basket__value {
    font-size: .9375rem;
    top: .4375rem;
  }

  .vs-menu-trigger__bar {
    &:before {
      top: -.625rem;
    }

    &:after {
      bottom: -.625rem;
    }
  }

  .vs-header--not-top {
    min-height: rem(70);
    padding-top: .5625rem;
    padding-bottom: .5625rem;

    .vs-header__logo {
      width: 2.5625rem;
      height: 2.5625rem;
      top: rem(5);
    }
  }
}

@media screen and (min-width: $main-nav-breakpoint) {
  .vs-menu-trigger {
    display: none;
  }

  .vs-header__nav {
    display: inline-block;
    position: relative;
    top: 12px;
  }

  .vs-header__basket {
    margin-right: 0;
  }

  .vs-header--fixed-header {
    @include transform(translateY(-136px));

    &.vs-header--unpinned {
      @include transform(translateY(-60px));
    }
  }
}
