
// Blocks
// ----------------------------------------------------------------------------

vs-introduction,
.vs-introduction {
  @include clearfix();
  display: block;
}


// Elements
// ----------------------------------------------------------------------------

.vs-introduction__container-wrapper {
  position: relative;
  height: auto;
  width: 100%;
  z-index: 3;
}

.vs-introduction__image {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {

  .vs-introduction__content {
    padding: 0 0 2.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .vs-hidden-hdpi {
    display: block;
  }

  .vs-visible-hdpi {
    display: none;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .vs-hidden-hdpi {
      display: none;
    }

    .vs-visible-hdpi {
      display: block;
    }
  }
}
