
// Blocks
// ----------------------------------------------------------------------------

vs-hero,
.vs-hero {
  @include clearfix;
  display: block;
  //background-color: #303241;
  min-height: 136px;
}


// Elements
// ----------------------------------------------------------------------------

