
/*
/* Class "vs-user-dropdown--open" should be applied to user menu to:
/* show the user menu
*/


// Blocks
// ----------------------------------------------------------------------------

vs-user-menu,
.vs-user-menu {
  @include clearfix();
  display: inline-block;
  vertical-align: middle;
}


// Elements
// ----------------------------------------------------------------------------

.vs-user-menu__trigger {
  @include transition(all .3s);
  @include box-shadow(inset 0 0 0 1.5px $c-white);
  display: block;
  color: $c-white;
  width: 1.6875rem;
  height: 1.6875rem;
  line-height: 1.6875rem;
  margin-right: 1rem;
  text-align: center;
  border-radius: 50%;
  font-size: $font-size-xs;
  text-transform: uppercase;

  .android & {
    padding-top: 1px;
  }

  &:hover,
  &.vs-user-menu__trigger--active {
    background-color: #E10A0A;
    border-color: #E10A0A;
    color: $c-white;
  }

  &:focus {
    color: $c-white;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @include box-shadow(none);
    border: 1.5px solid $c-white;
  }
}

.vs-user-menu__trigger__icon {
  fill: none;
  stroke: $c-white;
}

.vs-user-dropdown {
  @include transition(all .1s ease-in-out);
  @include transform(scale(.6));
  transform-origin: 80% -.5rem;
  background-color: rgba($c-white, .9);
  border-radius: 6px;
  position: absolute;
  right: 4.3rem;
  top: 3.25rem;
  padding: 0 0 .9375rem;
  margin: 0;
  visibility: hidden;
  opacity: 0;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid rgba($c-white, .9);
    position: absolute;
    top: -.5rem;
    right: 2.5625rem;
  }
}

.vs-user-dropdown__item {
  list-style-type: none;
  padding: .9375rem;
  margin-bottom: 0;

  + .vs-user-dropdown__item {
    padding-bottom: 0;
  }
}

.vs-user-dropdown__link:hover {
  color: $c-white;
}


// Modifiers
// ----------------------------------------------------------------------------

.vs-user-menu__trigger--not-logged {
  @include box-shadow(none);

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    border: 0;
  }
}

.vs-user-dropdown__item--header {
  border-bottom: 1px solid rgba(#A5A5A5, .5);
  color: rgba($c-black, .8);
  font-size: $font-size-sm;
  text-align: center;
}

.vs-user-dropdown__link--logout {
  color: rgba($c-black, .6);
  text-transform: uppercase;
  font-size: $font-size-sm;
  padding-top: 0;
  padding-bottom: 0;

  &:hover {
    opacity: $button-hover;
    color: rgba($c-black, .6);
  }
}

.vs-user-dropdown--open {
  @include transform(scale(1));
  visibility: visible;
  opacity: 1;
  z-index: 3;
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {

  .vs-user-menu__trigger {
    width: 2.375rem;
    height: 2.375rem;
    font-size: 1.25rem;
    line-height: 2.375rem;
    margin-right: 1.25rem;
    top: 1px;
  }

  .vs-user-dropdown {
    top: 3.7rem;
    right: 5.95rem;
  }
}

@media screen and (min-width: $main-nav-breakpoint) {
  .vs-user-dropdown {
    right: 2.5rem;
  }
}
