
// Elements
// ----------------------------------------------------------------------------

.vs-overlay {
  @include transition(all 0.3s ease-in-out 0.5s);
  background-color: rgba($c-black, .95);
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .vs-menu-open & {
    @include transition(all 0.3s ease-in-out);
    visibility: visible;
    opacity: 1;
  }
}

.vs-overlay-blur {
  @include transition(all 0.3s ease-in-out);
  position: absolute;
  width: 100%;
  bottom: 0;
  top: 0;

  .vs-menu-open & {
    @include blur(30);
    @include transition(all 0.3s ease-in-out 0.3s);
    z-index: -1;
  }

  &.vs-overlay-blur--active {
    z-index: -1;
  }
}

@include media-breakpoint-down(xs) {

  .vs-overlay-sharer {

    @include transition(all 0.1s ease);
    background-color: rgba($c-black, .95);
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

     .vs-mobile-sharer-open & {
       @include transition(all 0.3s ease-in-out);
        visibility: visible;
        opacity: 0.5;
     }
  }

  .vs-overlay-blur {

    .vs-mobile-sharer-open & {
      @include transition(all 0.2s ease-in-out);
      @include blur(30);
      overflow: hidden;
    }
  }

}
