
// Blocks
// ----------------------------------------------------------------------------

vs-accordion,
.vs-accordion {
  @include clearfix();
  display: block;
  position: relative;
  z-index: 3;
}


// Elements
// ----------------------------------------------------------------------------

.vs-accordion__title {
  padding: .938rem 0 .625rem 1.875rem;
  font-family: $font-family-serif;
  color: $c-black;
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 500;
}

.vs-accordion__wrapper {
  width: calc(100% - 1.25rem);
  margin: auto .625rem;
}

.vs-accordion__panel {
  background-color: $c-white;
  border-bottom: .03125rem solid rgba(208,208,208, .4);
}

.vs-accordion__panel:first-child {
  border-top-right-radius: .625rem;
  border-top-left-radius: .625rem;
}

.vs-accordion__panel:last-child {
  border: none;
  border-bottom-right-radius: .625rem;
  border-bottom-left-radius: .625rem;
}

.vs-accordion__panel-heading {
  > a {
    @include transition(all .2s ease-in-out);
    display: block;
    padding: 0 1.25rem;
    text-align: center;
  }

  > a[aria-expanded=true] {
    background-color: #FAFAFA;

    & .vs-accordion__arrow {
      @include transform(rotate(-180deg));
    }
  }
}

.vs-accordion__panel:first-child
  & .vs-accordion__panel-heading {

  > a {
    border-top-right-radius: .625rem;
    border-top-left-radius: .625rem;
  }
}

.vs-accordion__panel:last-child
  & .vs-accordion__panel-heading {

  > a {
    border-bottom-right-radius: .625rem;
    border-bottom-left-radius: .625rem;
  }
}

.vs-accordion__panel-title {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  position: relative;
  margin: 0;
  min-height: 4.375rem;
  padding: .938rem 1.25rem .938rem 0;
  font-family: $font-family-serif;
  color: $c-black;
  font-size: .75rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.vs-accordion__panel-text {
  background-color: #fafafa;
  padding: 0 1.25rem;
  text-align: center;
}

.vs-accordion__panel-text {
  > p {
    padding-bottom: 1rem;
    margin-bottom: 0;
    font-family: $font-family-sans-serif;
    font-size: .75rem;
    line-height: 1.25rem;
    color: rgba(0, 0, 0, 0.6);

    &:last-child {
      padding-bottom: 1.438rem;
    }
  }
}

.vs-accordion__arrow {
  @include transition(all .3s ease-in-out);
  background: transparent url('../img/accordion-arrow-down.svg') no-repeat center center;
  background-size: 100%;
  position: absolute;
  display: block;
  top: calc(50% - .375rem);
  right: -.625rem;
  width: .9375rem;
  height: .9375rem;
  font-family: $font-family-serif;
  color: $c-black;
  font-size: 0;
  font-weight: 300;
  line-height: 0;
}


// // Responsive
// // ----------------------------------------------------------------------------

@include media-breakpoint-up(sm) {
  .vs-accordion__panel-title {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .vs-accordion__arrow {
    right: .625rem;
  }
}

@include media-breakpoint-up(md) {
  .vs-accordion__title {
    margin: .625rem 1.25rem;
    padding: 0;
    font-size: 1.563rem;
    line-height: 1.875rem;
  }

  .vs-accordion__wrapper {
    width: 100%;
    margin: auto 1.25rem;
  }

  .vs-accordion__panel-heading {
    > a {
      padding: 0 8.75rem;
    }
  }

  .vs-accordion__panel-text {
    padding: 0 8.75rem;
  }

  .vs-accordion__panel-title {
    padding: 1.438rem 0;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .vs-accordion__panel-text {
    > p {
      font-size: .938rem;
      line-height: 1.5rem;
    }
  }

  .vs-accordion__arrow {
    top: calc(50% - .5rem);
    right: -5.625rem;
    height: 1.25rem;
    width: 1.25rem;
  }
}

@include media-breakpoint-up(lg) {
  .vs-accordion__panel-heading {
    > a {
      padding: 0 11.25rem;
    }
  }

  .vs-accordion__panel-text {
    padding: 0 11.25rem;
  }

  .vs-accordion__arrow {
    right: -4.563rem;
  }
}

@include media-breakpoint-up(xl) {
  .vs-accordion__panel-heading {
    > a {
      padding: 0 12.5rem;
    }
  }

  .vs-accordion__panel-text {
    > p {
      padding-left: .938rem;
      padding-right: .938rem;
    }
  }

  .vs-accordion__arrow {
    right: -3.375rem;
  }
}
