
// Blocks
// ----------------------------------------------------------------------------

vs-teaser,
.vs-teaser {
  @include clearfix();
  display: block;

  @include media-breakpoint-up(md) {
    .row {
      @include align-items(center);
      @include justify-content(center);
    }
  }
}


// Common elements between layouts
// ----------------------------------------------------------------------------

.vs-picture {
  display: block;
}

[class*="vs-teaser__layout"] {
  padding: 0;

  .row {
    @include flexbox();
    @include flex-wrap(wrap);
  }
}

.vs-teaser__image-a,
.vs-teaser__image-b,
.vs-teaser__image-c {
  position: relative;
  display: block;
}

.vs-teaser__image-a { z-index: 3; }
.vs-teaser__image-b { z-index: 2; }
.vs-teaser__image-c { z-index: 1; }

.vs-teaser__content {
  @include clearfix();
  position: relative;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  z-index: 3;

  @include media-breakpoint-up(md) {
    .vs-teaser--reverse & {
      padding-left: 0;
    }
  }
}

.vs-teaser__title {
  font-family: $font-family-serif;
  font-size: 3.4375rem;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 3.125rem;
  position: relative;
  display: block;

  &.vs-outline {
    padding-top: 0;
  }
}

.vs-teaser__subtitle {
  font-family: $font-family-serif;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: 1.6875rem;
  position: relative;
}

.vs-teaser__text {
  margin-bottom: 1.875rem;
}

@include media-breakpoint-up(md) {
  .vs-teaser__image-scale {
    position: absolute;
    top: 0;
    right: $grid-gutter-width/2;
    bottom: 0;
    left: $grid-gutter-width/2;
  }
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {
  .vs-teaser__title,
  .vs-teaser__subtitle {
    @include make-col(9);
  }

  .vs-teaser__title {
    margin-bottom: 1.875rem;
  }

  .vs-teaser__subtitle {
    padding: 0;
  }

  .vs-teaser__text {
    @include make-col(11);
    padding: 0;
  }
}

@include media-breakpoint-up(lg) {
  .vs-teaser__title {
    font-size: 5.625rem;
    line-height: 5.3125rem;
  }

  .vs-teaser__subtitle {
    font-size: 1.75rem;
    margin-bottom: 2.875rem;
    line-height: 2rem;
  }
}

@include media-breakpoint-up(xl) {
  .vs-teaser__title {
    font-size: 8.75rem;
    line-height: 8.4375rem;
  }

  .vs-teaser__subtitle {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .vs-teaser__text {
    @include make-col(10);
  }
}


// Portrait
// ----------------------------------------------------------------------------

.vs-teaser--portrait {
  .vs-teaser__title {
    text-align: center;
    margin-bottom: 1.875rem;
    z-index: 3;
  }

  .vs-teaser__image-a {
    width: 15rem;
    margin: -1.875rem auto 1.875rem auto;
  }

  .vs-outline {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    .picture-wrapper {
      position: relative;
    }

    .picture-wrapper__placeholder {
      position: absolute;
      top: 0;
      margin-top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.vs-teaser--reverse {
    @include media-breakpoint-up(md) {
      .col-xs-12:first-child {
        .vs-teaser__image-a {
          right: auto;
        }
      }
    }
  }

  $p_xl_height: 29.325rem;
  $p_lg_height: 25.325rem;
  $p_md_height: 18.325rem;

  @include media-breakpoint-up(md) {
    min-height: $p_md_height;

    .vs-teaser__col {
      min-height: $p_md_height;
    }

    .vs-teaser__title {
      @include make-col(12);
      text-align: left;
    }

    .vs-outline {
      margin-bottom: -1.325rem;
    }

    .vs-teaser__image-a {
      @include transform(translateY(-50%));
      top: 50%;
      position: absolute;
      width: 13.5rem;
      margin: 0 15px 0 0;
      right: 0;
    }

    .vs-teaser__content {
      padding-left: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    min-height: $p_lg_height;

    .vs-teaser__col {
      min-height: $p_lg_height;
    }

    .vs-teaser__title {
      display: block;
      float: right;
      max-width: none;
      width: auto;
    }

    .vs-outline {
      margin-bottom: -2.325rem;
    }

    .vs-teaser__image-a {
      width: 18.5rem;
    }

    .vs-teaser__content {
      padding-left: 1.5625rem;
    }

    &.vs-teaser--reverse {
      .vs-teaser__title {
        float: left;
        margin-left: 0;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    min-height: $p_xl_height;

    .vs-teaser__col {
      min-height: $p_xl_height;
    }

    .vs-outline {
      margin-bottom: -3.6125rem;
    }

    .vs-teaser__title {
      text-align: right;
    }

    .vs-teaser__image-a {
      width: 21.4375rem;
    }
  }
}


// Landscape
// ----------------------------------------------------------------------------

.vs-teaser--landscape {
  .vs-teaser__image-a {
    width: calc(100% + 1.875rem);
    margin-left: -.9375rem;
    margin-bottom: 1.875rem;
    margin-top: -1.875rem;
  }

  .vs-teaser__text {
    margin-bottom: 0;

    + .vs-teaser__cta-btn {
      margin-top: 1.875rem;
    }
  }

  .picture-wrapper__placeholder {
    position: absolute;
    top: 0;
  }

  @include media-breakpoint-down(sm) {
    .picture-wrapper__placeholder {
      margin-top: 0;
    }
  }

  @include media-breakpoint-up(md) {
    .vs-teaser__image-a {
      width: 100%;
    }

    .row {
      @include align-items(center);
      @include justify-content(center);
    }

    .vs-teaser__content {
      padding-left: 0;
    }

    .vs-teaser__image-a {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    .vs-teaser__image-a {
      float: right;
    }

    .vs-teaser__subtitle {
      font-size: 1.75rem;
      line-height: 2rem;
    }

    .vs-teaser__content {
      padding-left: 1.5625rem;
    }

    .picture-wrapper {
      position: relative;
    }

    .picture-wrapper__placeholder {
      right: 0;
    }

    &.vs-teaser--reverse {
      .picture-wrapper__placeholder {
        left: 0;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .vs-teaser__image-a {
      width: 30rem;
    }

    .vs-teaser__content {
      padding-left: 3.75rem;
    }

    &.vs-teaser--reverse {
      .vs-teaser__image-a {
        float: left;
      }
    }
  }
}


// Landscape, Lower Landscape
// ----------------------------------------------------------------------------

.vs-teaser--landscape-lowerlandscape {
  overflow: hidden;

  .vs-teaser__image-scale {
    position: absolute;
    right: 0;
    top: 0;
  }

  .vs-teaser__image-a {
    margin-top: -1.375rem;
    width: calc(100% + 1.875rem);
    margin-left: -.9375rem;
    height: auto;
    margin-bottom: 1.875rem;
  }

  .vs-teaser__title {
    z-index: 4;
    text-align: center;
    margin-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    .picture-wrapper {
      position: relative;
    }

    .picture-wrapper__placeholder {
      position: absolute;
      top: 0;
      margin-top: 0;
    }
  }

  $ll_xl_height: 32.532rem;
  $ll_lg_height: 26rem;
  $ll_md_height: 19.575rem;

  @include media-breakpoint-up(md) {
    min-height: $ll_md_height;

    .vs-teaser__col {
      min-height: $ll_md_height;
    }

    .vs-teaser__image-a,
    .vs-teaser__image-b {
      position: absolute;
      top: 0;
      right: .9375rem;
      margin: 0;
      width: auto;
    }

    .vs-teaser__image-a {
      margin-right: 3.9375rem;
      width: 30.5rem;
    }

    .vs-teaser__image-b {
      margin-top: 15.3125rem;
      width: 25.8125rem;
    }

    .vs-teaser__image-scale {
      @include transform(scale(.6));
      -webkit-transform-origin: top right;
      transform-origin: top right;
    }

    .vs-teaser__title {
      text-align: left;
    }

    .vs-teaser__content {
      padding-left: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    min-height: $ll_lg_height;

    .vs-teaser__col {
      min-height: $ll_lg_height;
    }

    .vs-teaser__image-scale {
      @include transform(scale(.8));
    }
  }

  @include media-breakpoint-up(xl) {
    min-height: $ll_xl_height;

    .vs-teaser__col {
      min-height: $ll_xl_height;
    }

    .vs-teaser__image-scale {
      @include transform(scale(1));
    }
  }

  &.vs-teaser--reverse {
    @include media-breakpoint-up(md) {
      .vs-teaser__title,
      .vs-teaser__content {
        padding-left: 1.5625rem;
      }
    }
  }
}


// Portrait, Upper Portrait
// ----------------------------------------------------------------------------

.vs-teaser--portrait-upperportrait {
  .vs-teaser__image-a {
    width: 15rem;
    margin: -2.125rem auto 2.125rem;
  }

  .vs-teaser__image-b {
    width: calc(100% + #{$grid-gutter-width});
    margin-left: -$grid-gutter-width/2;
  }

  .vs-teaser__images {
    padding: 0;
  }

  .vs-teaser__subtitle {
    @include make-col(8);
    float: none;
    color: $c-black;
  }

  @include media-breakpoint-down(sm) {
    .picture-wrapper {
      position: relative;
    }

    .picture-wrapper__placeholder {
      position: absolute;
      top: 0;
      margin-top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  $pu_xl_height: 35.1375rem;
  $pu_lg_height: 28.1375rem;
  $pu_md_height: 21.1375rem;

  @include media-breakpoint-up(md) {
    min-height: $pu_md_height;

    .vs-teaser__col {
      min-height: $pu_md_height;
    }

    .vs-teaser__subtitle,
    .vs-teaser__text {
      padding: 0;
    }

    .vs-teaser__image-scale {
      @include transform(scale(0.6));
      -webkit-transform-origin: left center;
      transform-origin: left center;
      float: left;
    }

    .vs-teaser__image-a,
    .vs-teaser__image-b {
      @include transform(translateY(-50%));
      top: 50%;
      position: absolute;
      left: 0;
    }

    .vs-teaser__image-a {
      width: 17.125rem;
    }

    .vs-teaser__image-b {
      margin-left: 8.125rem;
      width: 25.6875rem
    }

    .vs-teaser__content {
      padding-left: .78125rem;
    }
  }

  @include media-breakpoint-up(lg) {
    min-height: $pu_lg_height;

    .vs-teaser__col {
      min-height: $pu_lg_height;
    }

    .vs-teaser__image-scale {
      @include transform(scale(0.8));
    }

    .vs-teaser__content {
      padding-left: 2.34375rem;
    }
  }

  @include media-breakpoint-up(xl) {
    min-height: $pu_xl_height;

    .vs-teaser__col {
      min-height: $pu_xl_height;
    }

    .vs-teaser__subtitle {
      font-size: 1.75rem;
      line-height: 2rem;
      font-weight: 500;
    }

    .vs-teaser__image-scale {
      @include transform(scale(1));
    }
  }
}


// Portrait, Landscape
// ----------------------------------------------------------------------------

.vs-teaser--portrait-landscape {
  .vs-teaser__image-a {
    margin-bottom: 0;
  }

  .vs-teaser__image-b {
    width: calc(100% + 1.875rem);
    margin-left: -.9375rem;
    height: auto;
    margin-bottom: 1.875rem;
    margin-top: -1.875rem;
  }

  .vs-teaser__images {
    padding: 0 .9375rem;
  }

  .vs-teaser__text {
    margin-bottom: 1.875rem;
  }

  &.vs-teaser--reverse {
    @include media-breakpoint-up(xl) {
      .vs-teaser__text,
      .vs-teaser__subtitle {
        @include make-col(11);
        @include make-col-offset(0);
      }

      .vs-teaser__image-b {
        left: auto;
        right: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .picture-wrapper {
      position: relative;
    }

    .picture-wrapper__placeholder {
      position: absolute;
      top: 0;
      margin-top: 0;
    }
  }

  $pl_xl_height: 23.4625rem;
  $pl_lg_height: 16.4625rem;
  $pl_md_height: 13rem;

  @include media-breakpoint-up(md) {
    min-height: $pl_md_height;

    .vs-teaser__col {
      min-height: $pl_md_height;
    }

    .vs-teaser__wrapper {
      min-height: 22.1875rem;
    }

    .vs-teaser__image-scale {
      @include transform(scale(.55));
      -webkit-transform-origin: left;
      transform-origin: left;
    }

    .vs-teaser__image-a,
    .vs-teaser__image-b {
      @include transform(translateY(-50%));
      position: absolute;
      left: 0;
      top: 50%;
      margin-bottom: 0;
    }

    .vs-teaser__image-a {
      width: 17.125rem;
    }

    .vs-teaser__image-b {
      width: 26rem;
      left: 11.8125rem;
      right: 0;
    }

    .vs-teaser__content {
      padding-left: .78125rem;
    }
  }

  @include media-breakpoint-up(lg) {
    min-height: $pl_lg_height;

    .vs-teaser__col {
      min-height: $pl_lg_height;
    }

    .vs-teaser__image-scale {
      @include transform(scale(.7));
    }

    .vs-teaser__content {
      padding-left: 0;
    }
  }

  @include media-breakpoint-up(xl) {
    min-height: $pl_xl_height;

    .vs-teaser__col {
      min-height: $pl_xl_height;
    }

    .vs-teaser__wrapper {
      min-height: 25.625rem;
    }

    .vs-teaser__text,
    .vs-teaser__subtitle {
      @include make-col(12);
    }

    .vs-teaser__content {
      @include make-col-offset(2);
    }

    .vs-teaser__subtitle {
      font-size: 1.75rem;
      line-height: 2rem;
      font-weight: 500;
    }

    .vs-teaser__image-scale {
      @include transform(scale(1));
    }
  }
}


// Square, Portrait
// ----------------------------------------------------------------------------

.vs-teaser--square-portrait {
  .vs-teaser__image-a {
    margin: 0 auto 1.875rem auto;
    height: auto;
    width: 15rem;
  }

  .vs-teaser__images {
    padding: 0 .9375rem;
  }

  .vs-teaser__text {
    margin-bottom: 1.875rem;
  }

  @include media-breakpoint-down(sm) {
    .picture-wrapper {
      position: relative;
    }

    .picture-wrapper__placeholder {
      position: absolute;
      top: 0;
      margin-top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  $sp_xl_height: 29.3125rem;
  $sp_lg_height: 16.5125rem;
  $sp_md_height: 15.5125rem;

  @include media-breakpoint-up(md) {
    min-height: $sp_md_height;

    .vs-teaser__col {
      min-height: $sp_md_height;
    }

    .vs-teaser__image-scale {
      @include transform(scale(.55));
      -webkit-transform-origin: right;
      transform-origin: right;
    }

    .vs-teaser__image-a,
    .vs-teaser__image-b {
      @include transform(translateY(-50%));
      position: absolute;
      margin-bottom: 0;
      top: 50%;
    }

    .vs-teaser__image-a {
      right: 0;
      width: auto;
    }

    .vs-teaser__image-b {
      left: -17rem;
    }
  }

  @include media-breakpoint-up(lg) {
    min-height: $sp_lg_height;

    .vs-teaser__col {
      min-height: $sp_lg_height;
    }
    ´
    .vs-teaser__image-scale {
      @include transform(scale(.7));
    }

    .vs-teaser__title {
      text-align: right;
      float: right;
      padding-left: 0;
      max-width: none;
      margin-top: 2.25rem;
    }

    .vs-teaser__image-a {
      width: 21.4375rem;
    }

    .vs-teaser__image-b {
      width: 17.5rem;
      left: -11rem;
    }

    .vs-teaser__content {
      padding-left: .78125rem;
    }
  }

  @include media-breakpoint-up(xl) {
    min-height: $sp_xl_height;

    .vs-teaser__col {
      min-height: $sp_xl_height;
    }

    .vs-teaser__wrapper {
      min-height: 25.625rem;
    }

    .vs-teaser__text,
    .vs-teaser__subtitle {
      @include make-col(12);
    }

    .vs-teaser__content {
      @include make-col-offset(2);
    }

    .vs-teaser__image-scale {
      @include transform(scale(1));
    }

    .vs-teaser__image-a {
      right: -4rem;
    }

    .vs-teaser__image-b {
      left: 0;
    }
  }

  &.vs-teaser--reverse {
    @include media-breakpoint-up(md) {
      .vs-teaser__image-scale {
        -webkit-transform-origin: left;
        transform-origin: left;
      }

      .vs-teaser__image-b {
        left: auto;
        right: -16.9rem;
      }
    }

    @include media-breakpoint-up(lg) {
      .vs-teaser__image-scale {
        @include transform(scale(.8));
      }

      .vs-teaser__image-a {
        right: auto;
        left: -2rem;
      }

      .vs-teaser__image-b {
        right: -8rem;
      }
    }

    @include media-breakpoint-up(xl) {
      .vs-teaser__image-scale {
        @include transform(scale(1));
      }

      .vs-teaser__text,
      .vs-teaser__subtitle {
        @include make-col(11);
        @include make-col-offset(0);
      }

      .vs-teaser__image-b {
        right: 0;
      }
    }
  }
}


// Landscape, Square
// ----------------------------------------------------------------------------

.vs-teaser--landscape-square {
  overflow: hidden;

  .vs-teaser__title {
    float: left;
    clear: both;
    z-index: 1;
    text-align: center;
  }

  .vs-teaser__text {
    margin-bottom: 2.5rem;
  }

  .vs-outline {
    margin-top: 0;
    margin-bottom: -1.6125rem;
    z-index: 3;
  }

  .vs-teaser__image-b {
    width: calc(100% + 1.875rem);
    margin-left: -.9375rem;
    height: auto;
  }

  .vs-picture--two {
    margin-bottom: 1.875rem;
  }

  @include media-breakpoint-down(sm) {
    .picture-wrapper {
      position: relative;

      .picture-wrapper__placeholder {
        position: absolute;
        top: 0;
        margin-top: 0;
      }
    }
  }

  $ls_xl_height: 26.8125rem;
  $ls_lg_height: 18.8125rem;
  $ls_md_height: 14.8125rem;

  @include media-breakpoint-up(sm) {
    .vs-outline {
      margin-bottom: 0;
    }

    .vs-teaser__image-b {
      margin-top: -1.375rem;
    }
  }

  @include media-breakpoint-up(md) {
    min-height: $ls_md_height;

    .vs-picture--two {
      margin-bottom: 0;
    }

    .vs-teaser__col {
      min-height: $ls_md_height;
    }

    .vs-teaser__content {
      padding-left: 0;
      padding-bottom: 0;
    }

    .vs-teaser__title,
    .vs-teaser__subtitle,
    .vs-teaser__text {
      @include make-col(12);
    }

    .vs-teaser__title {
      text-align: left;
    }

    .vs-teaser__image-scale {
      @include transform(scale(.55));
      -webkit-transform-origin: top right;
      transform-origin: top right;
      float: right;
    }

    .vs-teaser__image-a,
    .vs-teaser__image-b {
      position: absolute;
    }

    .vs-teaser__image-a {
      width: 17.4375rem;
      margin: 0;
      top: 9.375rem;
      right: 0;
    }

    .vs-teaser__image-b {
      width: 30.25rem;
      margin-bottom: 0;
      right: 8.5625rem;
      top: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    min-height: $ls_lg_height;

    .vs-teaser__col {
      min-height: $ls_lg_height;
    }

    .vs-teaser__content.vs-teaser__content--outline {
      padding-bottom: 5.8375rem;
    }

    .vs-teaser__subtitle,
    .vs-teaser__text {
      @include make-col(11);
    }

    .vs-outline {
      margin-top: -5.4375rem;
      margin-bottom: -1.4375rem;
    }

    .vs-teaser__image-scale {
      @include transform(scale(.7));
    }
  }

  @include media-breakpoint-up(xl) {
    min-height: $ls_xl_height;

    .vs-teaser__col {
      min-height: $ls_xl_height;
    }

    .vs-teaser__content.vs-teaser__content--outline {
      padding-bottom: 9.4375rem;
    }

    .vs-outline {
      margin-top: -8.8375rem;
    }

    .vs-teaser__image-scale {
      @include transform(scale(1));
    }
  }

  &.vs-teaser--reverse {
    @include media-breakpoint-up(md) {
      .vs-teaser__image-scale {
        float: none;
        right: auto;
      }

      .vs-teaser__title {
        text-align: right;
        float: right;
        padding-left: 0;
        max-width: none;
      }

      .vs-teaser__image-a {
        right: auto;
      }

      .vs-teaser__image-b {
        right: auto;
        margin-left: 5.625rem;
      }
    }

    @include media-breakpoint-up(xl) {
      .vs-teaser__title {
        padding-left: 18.8125rem;
        text-align: left;
        top: 0.25rem;
      }

      .col-md-5 {
        left: 56%;
      }
    }
  }
}


// Portrait, Upper Portrait, Portrait
// ----------------------------------------------------------------------------

.vs-teaser--portrait-upperportrait-portrait {
  .vs-teaser__title {
    text-align: center;
    z-index: 4;
  }

  .vs-outline {
    margin: 0;
  }

  .vs-teaser__wrapper {
    width: 100%;
  }

  .vs-teaser__image-a {
    width: 10rem;
    display: block;
    margin: 0 auto;
  }

  .vs-teaser__image-b {
    width: calc(100% + 1.875rem);
    margin-left: -.9375rem;
    height: auto;
    margin-bottom: 1.875rem;
    margin-top: -1.875rem;
  }

  .vs-teaser__image-a {
    margin-bottom: 0;
  }

  .vs-teaser__image-b {
    margin-bottom: 1.875rem;
  }

  @include media-breakpoint-down(sm) {
    .picture-wrapper {
      position: relative;
    }

    .picture-wrapper__placeholder {
      position: absolute;
      top: 0;
      margin-top: 0;
    }
  }

  $pup_xl_height: 35.75rem;
  $pup_lg_height: 25.10rem;
  $pup_md_height: 19.75rem;

  @include media-breakpoint-up(md) {
    min-height: $pup_md_height;

    .vs-teaser__col {
      min-height: $pup_md_height;
    }

    .vs-teaser__title {
      @include make-col(12);
      text-align: left;
    }

    .vs-teaser__text {
      @include make-col(12);
    }

    .vs-teaser__content {
      padding-left: 0;
      padding-right: 6.25rem;
    }

    .vs-teaser__image-scale {
      @include transform(scale(.55));
      -webkit-transform-origin: top center;
      transform-origin: top center;
      margin-top: 0;
      left: auto;
    }

    .vs-teaser__image-a,
    .vs-teaser__image-b,
    .vs-teaser__image-c {
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      margin: 0;
    }

    .vs-teaser__image-a {
      margin-top: 18.5625rem;
      margin-right: 8.5625rem;
      width: 25.8125rem;
      height: 17.1875rem;
    }

    .vs-teaser__image-b {
      margin-right: 21.5625rem;
      margin-top: 7.9375rem;
      width: 26rem;
      height: 17.3125rem;
      margin-bottom: 0;
    }

    .vs-teaser__image-c {
      width: 30.125rem;
      height: 19.5rem;
    }
  }

  @include media-breakpoint-up(lg) {
    min-height: $pup_lg_height;

    .vs-teaser__col {
      min-height: $pup_lg_height;
    }

    .vs-teaser__image-scale {
      @include transform(scale(.7));
    }

    .vs-teaser__content {
      padding-left: 1.5625rem;
    }
  }

  @include media-breakpoint-up(xl) {
    min-height: $pup_xl_height;

    .vs-outline {
      min-height: 20.625rem;
    }

    .vs-teaser__col {
      min-height: $pup_xl_height;
    }

    .vs-teaser__image-scale {
      @include transform(scale(1));
    }

    .vs-teaser__text {
      @include make-col(10);
    }

    .row {
      @include align-items(initial);
      @include justify-content(initial);
    }
  }

  &.vs-teaser--reverse {
    .vs-teaser__title {
      padding-left: 0;
    }

    @include media-breakpoint-up(md) {
      .vs-teaser__image-scale {
        left: 0;
        right: -3.75rem;
      }

      .vs-teaser__image-b {
        margin-right: 11.5625rem;
      }

      .vs-teaser__content {
        padding-right: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      .vs-teaser__image-b {
        margin-right: 13rem;
      }
    }

    @include media-breakpoint-up(xl) {
      .vs-teaser__title {
        text-align: right;
        float: right;
        max-width: none;
        width: auto;
      }

      .vs-teaser__image-scale {
        margin-right: -5rem;
        right: 0;
      }
    }
  }
}

// Modifiers
// ----------------------------------------------------------------------------

@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-region--gradient-#{$color} {
    .vs-teaser__text {
      color: map_get($map, 'text-color');
    }
    .vs-teaser__subtitle {
      color: map_get($map, 'title-color');
    }
  }

  .vs-introduction--gradient-#{$color} {
    .vs-teaser__title {
      color: map_get($map, 'from');
    }
  }
}

// Set up the default state of teaser colors for vs-region--gradient-gray

.vs-region--gradient-gray {
  vs-teaser,
  .vs-teaser {
    .vs-teaser__title,
    .vs-teaser__subtitle,
    .vs-teaser__text {
      color: $body-color;
    }
  }
}

@include media-breakpoint-up(md) {
  .vs-teaser--reverse {
    .col-md-6:first-child {
      @include make-col-push(6);
    }

    .col-md-6:last-child {
      @include make-col-pull(6);
    }

    .col-md-5 {
      @include make-col-push(6);
    }

    .col-md-7 {
      @include make-col-pull(5);
    }
  }
}

@include media-breakpoint-down(sm) {
  .vs-teaser__image-full-md-up {
    width: 100%;
    max-width: none;
  }
}


// Teaser ctas
// ----------------------------------------------------------------------------
.vs-teaser__cta-btn {
  display: block;
  margin: 0 auto 1rem;
  position: relative;
  z-index: 5;
}

@include media-breakpoint-up(md) {
  .vs-teaser__cta-btn {
    width: auto;
    font-size: .875rem;
    float: left;
    clear: both;
  }
}
