
// Blocks
// ----------------------------------------------------------------------------

vs-ticket-type,
.vs-ticket-type {
  @include clearfix;
  display: block;
  margin-bottom: .625rem;
}


// Elements
// ----------------------------------------------------------------------------

.vs-ticket-type__wrapper {
  border-radius: .625rem;
  overflow: hidden;
  padding: 1.1875rem 1rem .6875rem;
  position: relative;
}

.vs-ticket-type__title {
  text-transform: uppercase;
  font-size: 1.125rem;
  color: $c-white;
  margin-bottom: 1rem;
  position: relative;
}

.vs-ticket-type__text {
  color: $c-white;
  margin-bottom: 2.1875rem;
  position: relative;
}

.vs-ticket-type__price {
  font-size: 1.5rem;
  color: $c-white;
  margin-right: 1.5625rem;
  position: relative;
  float: left;
  clear: left;
}

.vs-ticket-type__cta {
  position: relative;
  top: 7px;
  float: left;
}

.vs-ticket-type__vip {
  @include box-shadow(0 0 2px 0 rgba($c-black, .2));
  background-image: linear-gradient(28deg, #C49538 43%, #E8C87E 100%);
  width: 4.0625rem;
  height: 3.5rem;
  top: -1px;
  right: .625rem;
  text-align: center;
  color: white;
  font-size: .625rem;
  line-height: .75rem;
  padding: 1rem .75rem 0;
  text-transform: uppercase;
  position: absolute;

  &:before,
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    bottom: -.5625rem;
  }

  &:before {
    border-width: 9px 32px 0 0;
    border-color: #C49538 transparent transparent transparent;
    left: 0;
  }

  &:after {
    border-width: 0 32px 9px 0;
    border-color: transparent #C49538 transparent transparent;
    right: 0;
  }
}

// Modifiers
// ----------------------------------------------------------------------------

@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-ticket-type--gradient-#{$color} {

    .vs-ticket-type__title,
    .vs-ticket-type__text,
    .vs-ticket-type__price {
      color: map_get($map, 'text-color');
    }
  }
}

.vs-ticket-type__title--vip,
.vs-ticket-type__text--vip {
  @include make-col(8);
}

// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {
  vs-ticket-type,
  .vs-ticket-type {
    margin-bottom: 1.25rem;
  }

  .vs-ticket-type__wrapper {
    padding: 1.75rem 1.25rem 1.6875rem 1.75rem;
  }

  .vs-ticket-type__title {
    font-size: 1.875rem;
  }

  .vs-ticket-type__price {
    font-size: 1.875rem;
  }

  .vs-ticket-type__text {
    @include make-col(8);
    margin-bottom: 2.6875rem;
  }

  .vs-ticket-type__pass {
    position: absolute;
    background-color: rgba($c-black, .4);
    text-transform: uppercase;
    color: $c-white;
  }

  .vs-ticket-type__vip,
  .vs-ticket-type__pass {
    border-radius: .625rem;
    top: 1.25rem;
    right: 1.25rem;
    bottom: 1.25rem;
    height: auto;
    padding: 0;
    width: 3.125rem;

    span {
      @include transform(rotate(270deg) translate(-50%));
      font-size: 18px;
      position: absolute;
      left: 0;
      transform-origin: top left;
      -webkit-transform-origin: top left;
      top: 50%;
      width: 13.75rem;
      height: 3.125rem;
      line-height: 3.125rem;
      padding-left: .625rem;
      padding-right: .625rem;
      text-align: center;
    }

    &:before,
    &:after {
      display: none;
    }
  }
}

@include media-breakpoint-up(lg) {
  .vs-ticket-type__text {
    @include make-col(6);
  }
}

@include media-breakpoint-up(xl) {
  .vs-ticket-type__text {
    @include make-col(5);
  }
}
