
// Blocks
// ----------------------------------------------------------------------------

vs-basic-content-block,
.vs-basic-content-block {
  @include clearfix();
  display: block;
  position: relative;
  z-index: 3;
}


// Elements
// ----------------------------------------------------------------------------

.vs-basic-content-block-wrapper {
  border-radius: .625rem;
  background-color: $c-white;

  &.vs-basic-content-block--gradient-transparent {
    background-color: transparent;
  }
}

.vs-basic-content-block__hero-image {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include ie-flexbox-fix();
  background-position: center top;
  background-size: cover;
  border-radius: .625rem .625rem 0 0;
  min-height: 16.25rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.vs-basic-content-block__row {
  z-index: 1;
}

.vs-basic-content-block__hero-title {
  font-family: $font-family-serif;
  margin-bottom: 0;
  color: white;
  text-transform: uppercase;
  font-size: 1.125rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.25rem;
  max-width: 20rem;
}

.vs-basic-content-block__text-wrapper {
  padding: 1.25rem;

  hr {
    clear: both;
    margin: 30px 0;
  }

  h2,
  h4,
  h5 {
    font-family: $font-family-serif;
  }

  h5 {
    font-weight: 600;
  }
}

.vs-basic-content-block__static-title {
  font-family: $font-family-serif;
  margin-bottom: 0;
  padding: 1.25rem 1.25rem 0;
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 500;
  color: $c-black;
}

.vs-basic-content-block__date {
  font-family: $font-family-serif;
  font-size: .75rem;
  color: $c-black;
  text-transform: uppercase;
  margin-bottom: .9375rem;
}

.vs-basic-content-block__image {
    height: 120px;
    min-width: 454px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 12px;
}


// Modifiers
// ----------------------------------------------------------------------------

.vs-scroller--basic-content-block {
  width: 100%;
  margin-bottom: 1.438rem;
  background-color: transparent;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;

  img {
    max-height: rem(220);

    @include media-breakpoint-up(md) {
      max-height: rem(280);
    }

    @include media-breakpoint-up(lg) {
      max-height: none;
    }
  }
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(sm) {
  .vs-basic-content-block__image {
      height: 140px;
      min-width: 544px;
  }
}

@include media-breakpoint-up(md) {
  .vs-basic-content-block__hero-image {
    min-height: 28.75rem;
  }

  .vs-basic-content-block__hero-title {
    font-size: 3.125rem;
    line-height: 3.438rem;
    max-width: 43.75rem;
  }

  .vs-basic-content-block__text-wrapper {
    padding: 2.125rem 4.5rem 2.125rem 2.5rem;
  }

  .vs-basic-content-block__static-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    padding-top: 1.9375rem;
    padding-left: 1.8125rem;
  }

  .vs-basic-content-block__date {
    font-size: 1rem;
    color: rgba($c-black, .8);
  }

  .vs-basic-content-block__image {
    height: 184px;
    min-width: 740px;
  }
}


// Color variations
// ----------------------------------------------------------------------------

// Apply page background colors mappigng
@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-region--gradient-#{$color} {
    @include gradient-directional(map_get($map, 'from'), map_get($map, 'to'), 90deg);

    .vs-basic-content-block__text-wrapper {
      p,
      h2.vs-bcb__title,
      .vs-bcb__subtitle,
      .vs-bcb__lead,
      ul.vs-bcb__column-text-title li,
      ul.vs-bcb__faq li:nth-child(even),
      ul.vs-bcb__small-list li {
        color: map_get($map, 'text-color');
      }

      ul.vs-bcb__faq li:nth-child(odd) {
        color: rgba(map_get($map, 'text-color'), .7);
      }

      p.vs-bcb__title-line:after,
      hr {
        background-color: rgba(map_get($map, 'text-color'), .7);
      }

      a.vs-bcb__btn {
        @include gradient-directional(map_get($map, 'from'), map_get($map, 'to'), 90deg);
        border: 0;
        color: map_get($map, 'text-color');

        &:active {
          @include gradient-directional(map_get($map, 'from'), map_get($map, 'to'), 90deg);
        }
      }
    }
  }
}

// Apply component background colors mappigng
@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-basic-content-block--gradient-#{$color} {
    @include gradient-directional(map_get($map, 'from'), map_get($map, 'to'), 90deg);

    p,
    h2.vs-bcb__title,
    .vs-bcb__subtitle,
    .vs-bcb__lead,
    ul.vs-bcb__column-text-title li,
    ul.vs-bcb__faq li:nth-child(even),
    ul.vs-bcb__small-list li {
      color: map_get($map, 'text-color');
    }

    ul.vs-bcb__faq li:nth-child(odd) {
      color: rgba(map_get($map, 'text-color'), .7);
    }

    p.vs-bcb__title-line:after,
    hr {
      background-color: rgba(map_get($map, 'text-color'), .7);
    }

    a.vs-bcb__btn {
      @include gradient-directional(map_get($map, 'from'), map_get($map, 'to'), 90deg);
      border: 0;
      color: map_get($map, 'text-color');

      &:active {
        @include gradient-directional(map_get($map, 'from'), map_get($map, 'to'), 90deg);
      }
    }
  }
}

// Make sure title inherits color from page background when in light background colors
@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-region--gradient-#{$color} {
    .vs-basic-content-block--gradient-default,
    .vs-basic-content-block--gradient-white {
      h2.vs-bcb__title {
        color: map_get($map, 'solid-color');
      }

      a.vs-bcb__btn {
        @include gradient-directional(map_get($map, 'from'), map_get($map, 'to'), 90deg);
        color: $c-white;
      }
    }
  }
}

// Ensure buttons are red when in light backgrounds
.vs-region--gradient-default,
.vs-region--gradient-transparent,
.vs-region--gradient-white {
  .vs-basic-content-block--gradient-default,
  .vs-basic-content-block--gradient-transparent,
  .vs-basic-content-block--gradient-white {
    a.vs-bcb__btn {
      @include gradient-directional(#FF0040, #830A2A, 90deg);
      color: $c-white;
    }

    h2.vs-bcb__title {
      color: $c-orange-bright;
    }
  }
}
