
// Blocks
// ----------------------------------------------------------------------------

.vs-splash__wrapper {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  background: transparent url('../img/splash-page-pattern.png') no-repeat center center;
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  width: 100%;
}

.vs-splash__container {
  display: block;
  width: 100%;
}

.vs-splash__logo-wrapper {
  display: block;
  width: 11.8757rem;
  height: 4.375rem;
  margin: 0 auto 3.5rem;
}

.vs-splash__text {
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 400;
  margin-bottom: 2.8125rem;
}

.vs-splash__link {
  @include transition(all .2s ease-in-out);
  display: block;
  margin-bottom: 2.25rem;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    opacity: .5;
  }
}

.vs-splash__link-wrapper {
  overflow-x: auto;
  max-height: 17rem;
  white-space: nowrap;
}

.vs-splash__icon {
  @include transition(all .2s);
  width: 6.25rem;
  height: 3.75rem;
  margin: 0 auto .9375rem;
  display: block;

  img {
    margin: 0 auto;
    max-height: 4.375rem;
  }
}

.vs-splash__icon-label {
  font-family: $font-family-serif;
  font-weight: 500;
  color: $c-black;
  font-size: .75rem;
  text-transform: uppercase;
}


// Modifiers
// ----------------------------------------------------------------------------



// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(sm) {
  .vs-splash__link-wrapper {
    margin: 0 1rem;
  }

  .vs-splash__link {
    display: inline-block;
    margin: 0 2.25rem;
  }
}

@include media-breakpoint-up(md) {
  .vs-splash__wrapper {
    background-size: cover;
  }

  .vs-splash__logo-wrapper {
    width: 22.5rem;
    height: 8.1875rem;
    margin-bottom: 7.8125rem;
  }

  .vs-splash__text {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 4.5rem;
  }

  .vs-splash__icon-wrapper {
    padding-bottom: 0;
    max-height: 36rem;
    white-space: normal;
  }

  .vs-splash__icon {
    width: 9.75rem;
    height: 6.375rem;
    margin-bottom: 1.5rem;
  }

  .vs-splash__icon-label {
    font-size: 1.125rem;
  }

  .vs-splash__icon img {
    max-height: 6.375rem;
  }

  .vs-splash__link-wrapper {
    padding-bottom: 0;
  }

  .vs-splash__link {
    margin: 0 2.25rem 2.9375rem;
  }
}

@include media-breakpoint-up(lg) {
  .vs-splash__icon-wrapper {
    max-height: 21rem;
  }
}

@include media-breakpoint-up(xl) {
  .vs-splash__icon-wrapper {
    max-width: 80vw;
    margin: 0 auto;
  }
}
