
// Blocks
// ----------------------------------------------------------------------------

vs-cta-block,
.vs-cta-block {
  display: block;
}

// Elements
// ----------------------------------------------------------------------------
.vs-cta-block__row {

  .vs-cta-block--col-2 &:nth-child(even) {
    margin-top: 0.625rem;
  }

}

.vs-cta-block__item {
  @include make-col(12);

  text-align: center;
  color:$c-white;

  position: relative;
  padding-left: 0;
  padding-right: 0;
  min-width: 20rem;
  min-height: 17.5rem;
  margin-top: 0.125rem;

  background-color: $c-black;
  overflow: hidden;

  &:first-child {
    margin-top: 0;
  }

  &:hover .vs-cta-block__background--with-image {
    @include transform(scale(1.05, 1.05));
    opacity: 1;

    &-limited-opacity {
      @include transform(scale(1.05, 1.05));
      opacity: $cta-block-max-opacity-limited;
    }
  }
}

.vs-cta-block__background,
.vs-cta-block__background--with-image,
.vs-cta-block__background--with-image-limited-opacity {
  min-height: 17.5rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.vs-cta-block__background--with-image,
.vs-cta-block__background--with-image-limited-opacity {
  @include transition(all .3s ease);
  opacity: $cta-block-min-opacity;
}

.vs-cta-block__title {
  position: relative;
  display: block;
  padding: 0;
  margin-top: 5.125rem;
  margin-bottom: 0;

  padding-left: 2.5rem;
  padding-right: 2.4375rem;

  font-family: $font-family-serif;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

.vs-cta-block__content {
  display: block;
  position: absolute;
  bottom: 3.5rem;

  padding: 0 2rem 0 2rem;
  margin: 0 0 0.9375rem 0;
  width: 100%;


  font-family: $font-family-sans-serif;
  font-weight: 500;
  font-size: 0.6875rem;
  line-height: 1rem;
  letter-spacing: 0;
}

.vs-cta-block__cta-wrapper {
  position: absolute;
  width: 100%;
  bottom: 1.25rem;
}

.vs-cta-block__cta {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.75rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

// Responsive
// ----------------------------------------------------------------------------
@include media-breakpoint-up(md) {

  .vs-cta-block__item {
    min-height: 26.875rem;
  }

  .vs-cta-block__background {
    min-height: 26.875rem;
  }

  .vs-cta-block__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: 9.375rem;

    padding-left: 0.875rem;
    padding-right: 0.875rem;
  }

  .vs-cta-block__content {
    bottom: 4.5625rem;
    font-size: 0.75rem;
    padding-left: 0.875rem;
    padding-right: 0.875rem;
  }

  .vs-cta-block__cta {
    font-size: 0.875rem;
    line-height: 0.875rem;
  }

  .vs-cta-block__cta-wrapper {
    bottom: 1.875rem;
  }
}

@include media-breakpoint-up(lg) {

  .vs-cta-block__item {
    margin-top: 0;

    .vs-cta-block--col-3 & {
      @include make-col(4);
    }

    .vs-cta-block--col-2 & {
      @include make-col(6);
    }
  }
}
