
// Blocks
// ----------------------------------------------------------------------------

vs-modal-overlay,
.vs-modal-overlay {
  @include clearfix();
  display: block;
  position: fixed;
}


// Elements
// ----------------------------------------------------------------------------

.modal-title {
  text-transform: uppercase;
  margin-bottom: .75rem;
  color: $c-orange-bright;

  .vs-modal--message & {
    color: $c-blue;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .modal-content .container {
    display: block;
    padding: 0 20%;
  }
}

.modal-dialog {
  position: fixed;
  left: .3125rem;
  right: .3125rem;
  top: .3125rem;


  .has-touch & {
    bottom: .3125rem;
    overflow-y: scroll;
  }

  .modal-dialog__close {
    position: absolute;
    top: 20px;
    right: 20px;
    outline: 0;
    border: 0;
    background: 0;
    transform: rotate(45deg);
    z-index: 1;
    width: 22px;
    height: 22px;
    padding: 0;

    &:hover,
    &:active {

      &:before,
      &:after {
        @include media-breakpoint-up(lg) {
          @include transition(all .4s);
          background: $c-black;
        }
      }
    }

    &:before,
    &:after {
      @include transition(all .4s);
      background: $c-black;
      content: '';
      position: absolute;

      @include media-breakpoint-up(lg) {
        background: $c-gray-light;
      }
    }

    &:before {
      width: 3px;
      height: 21px;
      top: auto;
      left: auto;
      transform: translate(-1px, -10px);
    }

    &:after {
      height: 3px;
      width: 21px;
      top: auto;
      left: auto;
      transform: translate(-10px, -1px);
    }
  }
}

.modal-footer {
  text-align: center;
  padding-bottom: 4.375rem;
}

.modal-header .close {
  @include transition(all .2s);
  margin-top: -.625rem;
  margin-right: -.625rem;
  background: transparent url('../img/close.svg') no-repeat 0 0;
  background-size: cover;
  width: .75rem;
  height: .75rem;
  font-size: 0;
  color: $c-black;
  opacity: 1;

  &:hover {
    opacity: .6;
  }
}

.vs-basket-modal__message:last-child {
  margin-bottom: 1.875rem;
}

.vs-basket-modal__body {
  padding: 0 1.875rem;
}

.vs-basket-modal__footer-message {
  font-size: .625rem;
  margin-top: .9375rem;
}


// Modifiers
// ----------------------------------------------------------------------------

.vs-basket-modal__footer-message--continue:last-child {
  margin: .3125rem 0 .9375rem;
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(sm) {
  .modal-dialog {
    margin: 30px;
    max-width: 90%;
  }
}

@include media-breakpoint-up(md) {
  .modal-dialog {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;

    .has-touch & {
      position:fixed;
    }
  }

  .modal-header .close {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 4px;
    margin-right: 0;
  }

  .modal-content {
    .has-touch & {
      overflow-y:scroll;
    }
  }
}

@include media-breakpoint-up(xl) {
  .modal-dialog {
    max-width: $modal-lg;
  }
}
