
// Blocks
// ----------------------------------------------------------------------------

.vs-package-card-list-heading {
  margin-bottom: 0.625rem;
  padding-left: 1.25rem;
}

vs-package-card,
.vs-package-card {
  display: block;
  margin-bottom: 3.125rem;
}


// Elements
// ----------------------------------------------------------------------------

.vs-package-card-wrapper {
  @include flexbox();
  @include align-items(strech);
  @include ie-flexbox-fix();
  min-height: 9.0625rem;
  margin-left: -0.3125rem;
  margin-right: -0.3125rem;
  padding: 0.9375rem;
  color: $c-white;
  border-radius: .625rem;
  background: $c-white 0 0 no-repeat;
  background-size: cover;
  overflow: hidden;
}

.vs-package-card-content {
  @include flex(1, 0);
  position: relative;
}

.vs-package-card__title {
  display: block;
  max-width: 12.25rem;
  font-family: $font-family-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.25rem;
  margin-bottom: 0.3125rem;
}

.vs-package-card__description {
  max-width: 13.25rem;
  font-family: $font-family-sans-serif;
  font-size: 0.75rem;
  line-height: 0.875rem;
  display: inline-block;
  padding-bottom: 1.5625rem;
}

.vs-package-card-footer {
  @include flexbox();
  @include flex-direction(row);
  height: 1.375rem;
  position: relative;
}

.vs-package-card__price {
  display: block;
  width: 3.625rem;
  font-family: $font-family-sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.375rem;
}

.vs-package-card__button-wrapper {
  @include flex(1, 0);
  text-align: right;
}

.vs-package-card__button {
  text-transform: uppercase;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: 0;
  padding: 0 .778rem 0 .778rem;
  min-height: 0;
}

.vs-package-card-descriptive-wrapper {
  margin-top: 1.25rem;
}

.vs-package-card__descriptive-title {
  position: relative;
  display: block;
  max-width: 11.5rem;
  color: $c-black;
  font-family: $font-family-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.125rem;
  margin-bottom: 1.6875rem;

  &:after {
    content: "";
    position: absolute;
    bottom: -0.625rem;
    left: 0;
    width: 1.25rem;
    height: 0.125rem;
    background-color: #2084FE;
  }
}

.vs-package-card__descriptive-content {
  letter-spacing: 0;

  p {
    line-height: rem(20);
  }
}


// Modifiers
// ----------------------------------------------------------------------------

@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-package-card--color-#{$color} {
    .vs-package-card__descriptive-title:after {
      background-color: map_get($map, 'solid-color');
    }

    .vs-package-card__description,
    .vs-package-card__price {
      color: map_get($map, 'text-color');
    }
    .vs-package-card__title {
      color: map_get($map, 'title-color');
    }
  }

  .vs-region--gradient-#{$color} vs-package-card,
  .vs-region--gradient-#{$color} .vs-package-card {
    .vs-package-card__descriptive-content {
      color: map_get($map, 'text-color');
    }
    .vs-package-card__descriptive-title {
      color: map_get($map, 'title-color');
    }
  }
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {
  .vs-package-card-list-heading {
    margin-bottom: 0.9375rem;
  }

  vs-package-card,
  .vs-package-card {
    margin-bottom: 1.875rem;
  }

  .vs-package-card-wrapper {
    min-height: 12.5rem;
  }

  .vs-package-card-descriptive-wrapper {
    margin-top: 0;
  }
}

@include media-breakpoint-up(lg) {
  .vs-package-card-wrapper {
    min-height: 15.875rem;
  }

  .vs-package-card__title {
    max-width: 18.75rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 0.9375rem;
  }

  .vs-package-card__description {
    max-width: 18.75rem;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.5rem;
  }

  .vs-package-card__price {
    width: 5.5rem;
    font-size: 2.25rem;
    line-height: 2.25rem;
  }

  .vs-package-card-footer {
    height: 2.25rem;
  }

  .vs-package-card__button {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 0.875rem;
    padding: 0.625rem 1.828rem 0.625rem 1.828rem;
    height: auto;
  }

  .vs-package-card-descriptive-wrapper {
    margin-top: 0;
    margin-left: 3.125rem;
  }

  .vs-package-card__descriptive-title {
    max-width: 17.9375rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 2.75rem;

    &:after {
      content: "";
      position: absolute;
      bottom: -1.25rem;
      left: 0;
      width: 2.5rem;
      height: 0.25rem;
    }
  }

  .vs-package-card__descriptive-content p {
    line-height: rem(24);
  }
}

@include media-breakpoint-up(xl) {
  .vs-package-card-list-heading {
    padding-left: 1.875rem;
  }

  .vs-package-card-wrapper {
    width: 34.375rem;
    min-height: 16.875rem;
    padding: 1.5625rem;
    margin-left: 0.3125rem;
    margin-right: 0;
  }
}
