
// Blocks
// ----------------------------------------------------------------------------

.vs-results-introduction {
  @include clearfix();
  display: block;
  padding: 2.5rem 0;
}


// Elements
// ----------------------------------------------------------------------------

.vs-results-introduction__image {
  background-size: cover;
  border-radius: .625rem .625rem 0 0;
  min-height: 16.25rem;

  @include media-breakpoint-up(lg) {
    border-radius: .625rem;
    min-height: 21.5625rem;
  }

  @include media-breakpoint-up(xl) {
    min-height: 26.875rem;
  }
}

.vs-results-introduction__content {
  background-color: $c-white;
  border-radius: 0 0 .625rem .625rem;
  padding: 1.875rem 1.25rem;

  @include media-breakpoint-up(md) {
    padding: 1.875rem 3.75rem 1.875rem 1.875rem;
  }

  @include media-breakpoint-up(lg) {
    border-radius: .625rem;
    margin-top: -18.5rem;
  }

  @include media-breakpoint-up(xl) {
    margin-top: -15.5rem;
  }
}

.vs-results-introduction__title {
  color: $c-black;
  font-family: $font-family-serif;
  font-size: 1.125rem;
  margin-bottom: 1.6875rem;
  position: relative;
  text-transform: uppercase;

  &:after {
    bottom: -.5625rem;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 1.25rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.875rem;
    margin-bottom: 2.875rem;

    &:after {
      width: 2.5rem;
      height: .25rem;
      bottom: -1.5rem;
    }
  }
}

.vs-results-introduction__description {}

.vs-results-introduction__button {
  display: block;
  margin-left: 2.125rem;
  margin-right: 2.125rem;

  @include media-breakpoint-up(md) {
    display: inline-block;
    margin: 0;
  }
}

.vs-results-introductions__wave {
  background: transparent url('../img/results-introduction-waves.png') no-repeat center top;
  position: absolute;
  background-size: cover;
  left: 1.2rem;
  bottom: 2.5rem;
  height: 110px;
  width: 170px;
  margin-left: -2.5rem;
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }

  @include media-breakpoint-up(xl) {
    width: 277px;
    height: 181px;
    margin-left: -3.5rem;
    bottom: 3.5rem;
  }
}


// Modifiers
// ----------------------------------------------------------------------------

@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-results-introduction--color-#{$color} {
    .vs-results-introduction__title:after {
      background-color: map_get($map, 'solid-color');
    }
  }
}
