
// Blocks
// ----------------------------------------------------------------------------

vs-results-overview-banner,
.vs-results-overview-banner {
  display: block;
  margin-bottom: 9.5rem;
  z-index: 3;

  &:last-child {
    margin-bottom: 0;
  }
}

// Elements
// ----------------------------------------------------------------------------

.vs-results-overview-banner-block-wrapper {
  position: relative;
  min-width: 20rem;
  min-height: 16.25rem;
  width: 100%;

  @media screen and (min-width: 1440px) {
    @include make-constrained();
  }
}

.vs-results-overview-banner__background {
  border-radius: .625rem .625rem 0 0;
  min-height: 16.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-left: -$grid-gutter-width/4;
  margin-right: -$grid-gutter-width/4;

  @include media-breakpoint-up(md) {
    margin-left: 0;
    margin-right: 0;
  }

  @include media-breakpoint-up(lg) {
    border-radius: .625rem;
  }
}

.vs-results-overview-banner__content-wrapper {
  background-color: $c-white;
  border-radius: 0 .375rem .625rem;
  min-height: 16.5625rem;
  padding: 1.25rem 1.25rem 5.25rem;
  position: relative;
  margin-left: -$grid-gutter-width/4;
  margin-right: -$grid-gutter-width/4;

  @include media-breakpoint-up(md) {
    padding: 1.875rem 1.875rem 5.625rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.vs-results-overview-banner__title {
  position: relative;
  color: $c-black;
  display: block;
  margin: 0 0 .375rem 0;
  font-family: $font-family-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    font-size: 1.875rem;
    line-height: 1.875rem;
  }
}

.vs-results-overview-banner__date {
  font-family: $font-family-serif;
  color: $c-black;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
  }
}

.vs-results-overview-banner__content {
  display: block;
}

.vs-results-overview-banner_button {
  @include transform(translateX(-50%));
  bottom: 1.84rem;
  display: block;
  left: 50%;
  position: absolute;
  width: calc(100% - 2.5rem);

  @include media-breakpoint-up(md) {
    @include transform(translateX(0));
    display: inline-block;
    left: 1.875rem;
    width: auto;
  }
}


// Modifiers
// ----------------------------------------------------------------------------

@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-results-overview-banner--color-#{$color} {
    .vs-results-overview-banner__caption {
      color: map_get($map, 'solid-color');
    }
  }
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(lg) {
  .vs-results-overview-banner-block-wrapper {
    min-height: 26.875rem;
    margin-top: 3.75rem;
  }

  .vs-results-overview-banner__background {
    min-height: 26.875rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .vs-results-overview-banner__content-wrapper {
    @include border-radius(.625rem);
    left: 8.125rem;
    width: 25rem;
    min-height: 24.375rem;
    margin-top: -2.5rem;
    margin-bottom: 1.25rem;
    padding: 1.875rem 4.375rem 5rem 1.875rem;
  }

  .vs-results-overview-banner__content {
    text-align: left;

    > p:first-child {
      margin-bottom: 1.25rem;
    }
  }
}
