
// Blocks
// ----------------------------------------------------------------------------

vs-footer,
.vs-footer {
  @include clearfix();
  background-color: $c-white;
  border-top: 2px solid $c-lsc-red;
  display: block;
  min-height: 15.625rem;
  position: relative;
  padding: 1.875rem 0;
  z-index: 5;
}


// Elements
// ----------------------------------------------------------------------------

.vs-footer__language {
  margin-bottom: 1.875rem;
  padding: 0 .9375rem;

  .picture-wrapper {
    display: inline-block;
  }
}

.vs-footer__lsg-member {
  background: url(../img/lsc-logo-member.png) no-repeat 0 0;
  background-size: contain;
  display: inline-block;
  height: 3.813rem;
  overflow: hidden;
  text-indent: -9999px;
  width: 12.5rem;
}

.vs-picture.vs-footer__language__picture {
  display: inline;
}

.vs-footer__language-list {
  @include box-shadow(none);
  border-radius: .375rem;
  border-color: rgba(#a2a2a2, .5);
  margin-top: .625rem;
  min-width: initial;
  padding: .9375rem;

  &:after {
    @include transform(rotate(45deg));
    content: '';
    border-top-left-radius: 4px;
    border: 1px solid rgba(#a2a2a2, .8);
    background-color: $c-white;
    width: 12px;
    height: 12px;
    position: absolute;
    top: -7px;
    border-bottom: 0;
    border-right: 0;
    right: 18px;
  }

  .picture-wrapper {
    display: inline-block;
  }
}

.vs-footer__language-list__link {
  @include transition(all .5s ease-in-out);
  color: $body-color;
  display: block;
  white-space: nowrap;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    color: $body-color;
    opacity: .7;
  }
}

.vs-footer__language-item {
  text-transform: uppercase;
  color: #606060;
  padding: .9375rem;
  float: left;
  width: auto;

  &:first-child {
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
  }

  &:last-child {
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem;
  }

  &:hover {
    background-color: $c-white;
  }
}

.vs-footer__language-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  color: #606060;
  font-size: 1rem;
  padding-left: 0;
  padding-right: 0;
  position: relative;

  > .vs-footer__region-label:after {
    content: '';
    background: transparent url('../img/vs-footer-arrow-down.svg') no-repeat 0 0;
    width: .75rem;
    height: .4375rem;
    display: inline-block;
    position: relative;
    top: -1px;
    margin-left: 5px;
  }

  &:after {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    opacity: .7;
  }

  .open & {
    background-color: transparent;
  }
}

.vs-footer__flags {
  margin-right: .375rem;
  width: 1.875rem;
  height: auto;
}

.vs-footer__region__
.vs-footer__region-label {
  position: relative;
  top: 1px;
  font-weight: 500;
}

.vs-footer__menu {
  margin: .1875rem 0 3.25rem;
  padding: 0 .9375rem;
}

.vs-footer__menu-item {
  list-style-type: none;
  margin-bottom: .875rem;
}

.vs-footer__menu-item__link {
  @include transition(all .5s);
  font-family: $font-family-serif;
  font-size: .75rem;
  font-weight: 500;
  color: #606060;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $c-black;
  }
}

.vs-footer__social-list {
  padding: 0 .9375rem;
  font-size: 0;
  margin-bottom: 0;
}

.vs-footer__social-item {
  display: inline-block;
  margin-right: 1.25rem;

  &:last-child {
    margin-right: 0;
  }
}

.vs-footer__social {
  @include transition(all .5s);
  background-color: rgba($c-black, .2);
  border-radius: 50%;
  color: $c-white;
  width: 3.125rem;
  height: 3.125rem;
  display: block;
  text-align: center;
  padding-top: .8125rem;

  &:before {
    font-size: 1.5625rem;
  }

  &:hover {
    opacity: .7;
    color: $c-white;
  }

  @include media-breakpoint-up(lg) {
    width: rem(39);
    height: rem(39);
    padding-top: rem(9);

    &:before {
      font-size: rem(20);
    }
  }
}

.vs-footer__social--twitter {
  &:before {
    @include icons();
    content: $icon-twitter;
  }
}

.vs-footer__social--facebook {
  &:before {
    @include icons();
    content: $icon-facebook;
  }
}

.vs-footer__social--instagram {
  &:before {
    @include icons();
    content: $icon-instagram;
  }
}

.vs-footer__social--snapchat {
  &:before {
    @include icons();
    content: $icon-snapchat;
  }
}

.vs-newsletter-footer {
  @include media-breakpoint-up(lg) {
    margin-top: rem(-70);
  }
}


// Modifiers
// ----------------------------------------------------------------------------




// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {

  .vs-footer__language-list {
    margin-left: -1rem;
  }

  .vs-footer__language,
  .vs-footer__menu {
    padding: 0;
  }

  .vs-footer__social-list {
    padding: 0;
  }

  .vs-footer__social-item {
    display: inline-block;
    margin: 0 .625rem 0 0;
  }

  .vs-footer__menu-item__link {
    font-size: $font-size-base;
  }
}

@include media-breakpoint-up(lg) {

  vs-footer,
  .vs-footer {
    padding-top: 6.875rem;
  }

  .vs-footer__social-item {
    display: inline-block;
    margin: 0 1.25rem 1.25rem 0;
  }

  .vs-footer__menu {
    margin-bottom: 0;
  }

  .vs-footer__menu-item {
    float: left;
    width: 50%;
  }
}
