
// Elements
// ----------------------------------------------------------------------------

.vs-region {
  @include clearfix();
  display: block;
}


// Modifiers
// ----------------------------------------------------------------------------

[class*="vs-region"] {
  position: relative;
}

.vs-region--overflow-hidden {
  overflow: hidden;
}


// Modifiers
// ----------------------------------------------------------------------------

.vs-region--no-padding {
  padding: 0;
}

.vs-region--invisible {
  display: none;
}

@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-region--gradient-#{$color} {
    @include gradient-directional(map_get($map, 'to'), map_get($map, 'from'), map_get($map, 'rotate'));
  }
}

.vs-region--subnav-wrapper {
  min-height: 4.5625rem;

  @include media-breakpoint-up(md) {
    min-height: 4.625rem;
  }

  + .vs-region {
    padding-top: 0;
  }
}


// Responsive
// ----------------------------------------------------------------------------

@media screen and (min-width: $main-nav-breakpoint) {
  .vs-region--fixed-header {
    padding-top: 7rem;
  }
}
