

// Elements
// ----------------------------------------------------------------------------

.btn:focus,
.btn:active:focus {
  outline: 0;
}

.vs-btn {
  text-transform: uppercase;
  font-size: .75rem;
  background-color: $c-lsc-red;
  color: $c-white;
  line-height: 1;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: 500;

  &:hover,
  &:focus {
    opacity: $button-hover;
    color: $c-white;
  }
}


// Modifiers
// ----------------------------------------------------------------------------

.vs-btn--sm {
  min-height: 1.375rem;
  line-height: 1.25rem;
  font-size: .625rem;
  padding-top: 0;
  padding-bottom: 0;
}

.vs-btn--lg {
  font-size: 1rem;
  min-height: 3.125rem;
  line-height: 1.6875rem;
  border-width: 0;
}

.vs-btn--min-sm {
  min-width: 11.875rem;
}

.vs-btn--min-lg {
  min-width: 13.75rem;
}

.vs-btn--min-xl {
  min-width: 16.6875rem;
}

.vs-btn--min-xxl {
  width: 100%;
  text-transform: none;
}

@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-btn--gradient-#{$color} {
    @include gradient-directional(map_get($map, 'from'), map_get($map, 'to'), 90deg);
    border: 0;

    &:active {
      @include gradient-directional(map_get($map, 'from'), map_get($map, 'to'), 90deg);
    }

    @if (map-has-key($map, 'text-color-focus')) {
      &:hover,
      &:focus {
        color: map_get($map, 'text-color-focus');
      }
    }

    color: map_get($map, 'text-color');
  }
}

.vs-btn--transparent {
  background-color: rgba($c-black, .4);

  &:hover {
    background-color: rgba($c-black, .2);
    color: $c-white;
  }
}

.vs-btn--orange {
  background-color: $c-orange;
}

.vs-btn--orange-light {
  background-color: $c-orange-light;
}

.vs-btn--white {
  background-color: $c-white;
  color: $c-blue;
}

.vs-btn--outline-black {
  @include button-outline-variant(rgba($c-black, .4));
  border-width: 2px;

  &:hover,
  &:active,
  &:active:focus,
  &:focus {
    background-color: transparent;
    color: rgba($c-black, .4);
  }
}

.vs-btn--outline-white {
  @include button-outline-variant($c-white);
  border-width: 2px;

  &:hover,
  &:active,
  &:active:focus,
  &:focus {
    background-color: transparent;
    color: $c-white;
    border-color: $c-white;
  }
}

.vs-btn--link {
  background-color: transparent;
  border-color: transparent;
  color: $c-black;
  text-align: left;
  text-transform: uppercase;
  padding-left: 1.875rem;
  padding-right: 1.875rem;

  &:hover {
    color: $c-black;
  }
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-down(sm) {
  .vs-btn--lg,
  .vs-btn--min-xl {
    min-height: 2.5rem;
    line-height: 1.125rem;
    font-size: .75rem;
  }
}

@include media-breakpoint-up(md) {
  .vs-btn {
    font-size: $font-size-base;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .vs-btn--sm {
    line-height: 2.125rem;
    font-size: .875rem;
  }

  .vs-btn--min-sm {
    font-size: 1rem;
  }

  .vs-btn--min-lg {
    font-size: 1rem;
  }

  .vs-btn--min-xxl {
    font-size: 1rem;
    min-width: 21.875rem;
    width: auto;
  }
}
