
// Block
// ----------------------------------------------------------------------------

.vs-results {
  margin-bottom: rem(100);
}


// Element
// ----------------------------------------------------------------------------

.vs-results {
  &__teaser {
    padding: rem(15) rem(10);
    border-radius: rem(15) rem(15) 0 0;

    @include media-breakpoint-only(xs) {
      margin: 0 -0.625rem;
    }

    @include media-breakpoint-up(md) {
      padding: rem(30);
    }
  }

  &__filters {
    padding: rem(15) rem(10);
    border-radius: rem(10) rem(10) 0 0;
    margin: 0 rem(-10);
    position: relative;

    @include media-breakpoint-up(md) {
      padding: rem(25) rem(25) rem(30);
      border-radius: rem(10);
    }
  }

  &__form {
    @include clearfix;
    padding-top: rem(23);

    .vs-form-group {
      float: left;
      max-width: none;
      width: 100%;

      &:nth-child(even) { margin-right: 0 }

      @include media-breakpoint-up(md) {
        margin: rem(10) rem(10) 0 0;
      }
    }

    .vs-focus-label {
      color: rgba($c-white, 0.8);
    }

    .form-control {
      background: none;
      border-color: rgba($c-white, 0.4);
      color: $c-white;

      &:focus ~ .vs-focus-label,
      &.vs-form-control--not-empty ~ .vs-focus-label {
        color: rgba($c-white, 1);
      }
    }

    .vs-chosen-wrapper { border-color: rgba($c-white, 0.4); }
    .chosen-single { box-shadow: none !important; }

    @include media-breakpoint-up(md) {
      width: 76%;

      .vs-form-group {
        width: calc(50% - #{rem(5)});
      }
    }
  }

  &__form-select.vs-form-group {
    width: 100%;
    float: none;
    margin: 0;
  }

  &__form-select .chosen-container-single .chosen-single div b {
    background-image: url('../img/chosen-arrow-down-white.png') !important;
  }

  &__rankings {
    padding: rem(15) rem(10);
    background: white;
    margin: 0 rem(-10);

    @include media-breakpoint-up(md) {
      padding: rem(27) rem(27) rem(15);
      text-align: right;
      margin: 0;
    }
  }

  &__ranking {
    display: inline-block;
    line-height: rem(34);
    margin-bottom: rem(12);
    text-transform: uppercase;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 32%;

      + .vs-results__ranking {
        padding-left: rem(22);
      }
    }

    @include media-breakpoint-up(lg) {
      width: auto;

      + .vs-results__ranking {
        padding-left: rem(42);
      }
    }
  }

  &__ranking-label {
    display: block;
    color: $c-gray-dark;
    padding-right: rem(18);
    font-size: rem(12);
    font-weight: 500;

    @include media-breakpoint-up(md) {
      display: inline-block;
    }
  }

  &__ranking-options {
    display: block;
    background-color: rgba($c-gray, 0.2);
    border-radius: rem(30);
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      position: relative;
      padding: 0 rem(13);
      font-size: rem(12);
      color: rgba($c-gray-dark, 0.5);
      cursor: pointer;
      text-align: center;
      width: 50%;

      &:first-child { padding-left: rem(30); }
      &:last-child { padding-right: rem(30); }

      span {
        @include transition(transform .3s ease);
        @include transform(translateX(rem(0)));
        position: relative;
        display: inline-block;
        font-weight: 500;
      }

      &:before {
        @include transition(opacity .4s ease);
        border-radius: rem(30);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
        opacity: 0;
      }

      &.vs-results__ranking--active {
        span {
          color: $c-white;
        }

        &:first-child span { @include transform(translateX(rem(-8))) }
        &:last-child span { @include transform(translateX(rem(8))) }
        &:before { opacity: 1; }
      }

      @include media-breakpoint-up(md) {
        display: inline-block;
        text-align: left;
        width: auto;
      }
    }

    @include media-breakpoint-up(md) {
      display: inline-block;
    }
  }

  &__table {
    padding: rem(30) rem(12) 0;
    background-color: white;
    color: $c-gray-dark;
    border-radius: 0 0 rem(15) rem(15);
    margin: 0 rem(-10);

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }

  @include media-breakpoint-only(xs) {
    &__table-list {
      margin: 0 -0.625rem;
    }
  }

  &__table-list__group {
    background-color: #cfcfcf;
    border-radius: rem(30);
    color: $c-white;
    font-size: rem(14);
    font-weight: 500;
    margin: rem(24) 0;
    padding: rem(6) rem(30);
    text-transform: uppercase;
  }

  &__table-head {
    @include clearfix;

    @include media-breakpoint-up(md) {
      padding: 0 rem(15) 0 rem(30);
    }
  }

  &__bib {
    color: $c-gray;
  }

  &__btn {
    @include transition(opacity .3s ease);
    background-color: white;
    line-height: rem(35);
    padding: 0 rem(15);
    border-radius: rem(35);
    font-size: rem(13);
    text-transform: uppercase;
    display: inline-block;

    @include media-breakpoint-up(md) {
      padding: 0 rem(35);
    }

    + .vs-results__btn {
      margin-left: rem(17);
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }

  &__btn-wrap {
    float: right;
  }

  &__find-btn {
    width: 100%;
    text-align: center;

    @include media-breakpoint-up(md) {
      position: absolute;
      bottom: rem(30);
      right: rem(30);
      width: auto;
    }
  }

  &__photos-btn {
    @include transition(all .5s ease-in-out);
    position: absolute;
    top: rem(15);
    right: rem(10);
    font-size: rem(12);
    text-align: center;
    display: block;
    color: #337EE5;
    text-transform: uppercase;
    background-color: $c-white;
    line-height: rem(35);
    padding: 0 rem(19);
    border-radius: rem(35);

    &:hover {
      opacity: .7;
    }

    @include media-breakpoint-up(md) {
      background: rgba($c-white, 0.2) url('../img/results-camera-icon.svg') no-repeat center 22px;
      width: rem(123);
      height: rem(123);
      line-height: rem(170);
      font-size: rem(11);
      border-radius: 100%;
      color: $c-white !important;
      top: rem(20);
      right: rem(20);

      &:hover {
        color: $c-white;
      }
    }
  }

  &__title {
    font-size: rem(18);
    text-transform: uppercase;
    margin-bottom: rem(4);
    max-width: 40%;

    @include media-breakpoint-up(md) {
      font-size: rem(28);
      max-width: none;

    }
  }

  &__date {
    font-size: rem(18);
    margin-bottom: 0;
    text-transform: uppercase;
  }

  &__description {
    padding-top: rem(30);
    margin-bottom: rem(9) !important;
    width: 100%;
    opacity: 0.85;

    @include media-breakpoint-up(md) {
      width: 60%;
    }
  }

  &__footer {
    display: block;
    text-align: center;
    padding: rem(17) 0 rem(17) 0;
  }

  &__more-btn {
    @include transition(opacity .3s ease);
    line-height: rem(35);
    padding: 0 rem(55);
    border-radius: rem(35);
    font-size: rem(14);
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid rgba($c-gray, 0.6);
    color: rgba($c-gray, 0.7);
    letter-spacing: 0.04em;

    &:hover,
    &:focus {
      color: rgba($c-gray, 0.7);
      opacity: 0.7;
    }
  }
}

.vs-results__collapse-link {
  @include transition(all .5s ease-in-out);
  color: rgba($c-white, .6);
  font-size: rem(12);
  text-align: center;
  display: block;
  position: relative;
  height: rem(40);

  &:hover,
  &:focus {
    span {
      color: $c-white;
    }
  }

  span {
    @include transition(all .5s ease-in-out);
    @include transform(translate(-50%, -50%));
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: 100%;

    &:last-child {
      opacity: 0;
    }
  }

  &:not(.collapsed) {
    span:first-child { opacity: 0; }
    span:last-child { opacity: 1; }
  }

  @include media-breakpoint-up(md) {
    display: none;

    + .collapse {
      display: block;
    }
  }
}

.vs-results__collapse-label {
  display: inline-block;
  position: relative;

  &:after {
    @include transition(all .5s ease-in-out);
    background: transparent url('../img/filter-arrow.svg') no-repeat center center;
    display: inline-block;
    content: '';
    height: rem(6);
    position: absolute;
    opacity: 0;
    right: rem(-20);
    top: rem(6);
    width: rem(10);
  }
}

.vs-results__collapse-button {
  &:not(.collapsed) .vs-results__collapse-label:after {
    opacity: 1;
  }

  @include media-breakpoint-up(md) {
    display: none;

    + .collapse {
      display: block;
    }
  }
}


// Modifiers
// ----------------------------------------------------------------------------

.vs-results--truncated {
  .vs-results__table { padding-bottom: rem(10); }
  tbody tr:last-child td { border-bottom: none; }
}

.vs-results--sub-filtered {
  .vs-results__table {
    background-color: $c-gray-lighter;
  }
}

.vs-results--not-found {
  display: none;
}

@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-results--color-#{$color} {
    .vs-results__filters,
    .vs-results__teaser {
      @include gradient-directional(map_get($map, 'from'), map_get($map, 'to'), 90deg);
      color: map_get($map, 'text-color');
    }

    .vs-results__btn {
      color: darken(map_get($map, 'solid-color'), 25%);
    }

    .vs-results__table {
      thead td {
        color: darken(map_get($map, 'solid-color'), 25%);
      }

      .vs-results__table-row td:first-child {
        color: darken(map_get($map, 'solid-color'), 10%);
      }
    }

    .vs-results__ranking--active {
      span { color: map_get($map, 'text-color'); }
      &:before { @include gradient-directional(map_get($map, 'from'), map_get($map, 'to'), 90deg); }
    }

    .vs-results__table-head .vs-result-col {
      color: map_get($map, 'solid-color');
    }
  }
}


// Results page
// ----------------------------------------------------------------------------

.page-user-results .vs-attendly-header__background {
  background-color: transparent;
  background-position: center bottom;
  min-height: rem(70);

  @include media-breakpoint-up(sm) {
    min-height: rem(100);
  }

  @include media-breakpoint-up(md) {
    min-height: rem(150);
  }

  @include media-breakpoint-up(lg) {
    min-height: rem(200);
  }
}

.vs-results--card {
  .vs-results__table,
  .vs-results__rankings {
    background-color: transparent;
  }

  .vs-result__head {
    cursor: default;
  }

  .vs-results__ranking {
    text-align: right;
    padding: 0 $grid-gutter-width/2;
  }

  .vs-results__rankings {
    padding: 0;

    @include media-breakpoint-up(md) {
      padding: rem(48) rem(20) 0 0;
    }
  }

  .vs-results__ranking-label {
    display: inline-block;
  }

  .vs-results__ranking-options {
    display: inline-block;

    li {
      width: auto;
    }
  }
}


// Specific chosen style overrides (completely new design)
// ----------------------------------------------------------------------------

.vs-results__ranking--chosen {
  .chosen-container {
    background: $c-gray-light;
    border-radius: rem(30);
    min-width: rem(140);

    @include media-breakpoint-down(md) {
      min-width: 100%;
    }
  }

  .chosen-container-single .chosen-single {
    background: $c-gray-light;
    border: 0;
    padding-left: rem(30);
    box-shadow: none;
    text-align: left;
    height: rem(34);
    line-height: rem(34);
    border-radius: rem(30);
  }

  .chosen-container-single .chosen-single span {
    color: rgba($c-gray-dark, 0.5);
    font-size: rem(12);
    font-weight: 500;
  }

  .chosen-container-single .chosen-single div {
    width: rem(30);
  }

  .chosen-container-single .chosen-single div b {
    background-position: 0 14px !important;
  }

  .chosen-with-drop .chosen-single {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .chosen-drop {
    background-color: $c-gray-light;
    border-radius: 0 0 rem(10) rem(10);
    border: 0;
    box-shadow: none;
  }

  .chosen-search {
    display: none;
  }

  .chosen-container .chosen-results {
    color: rgba($c-gray-dark, 0.5);
  }

  .chosen-container .chosen-results li {
    @include transition(all .5s ease-in-out);
    text-align: left;
    padding-left: rem(26);
    font-size: rem(12);
    font-weight: 500;
  }

  .chosen-container .chosen-results li.highlighted,
  .chosen-container .chosen-results li.result-selected,
  .chosen-container .chosen-results li:hover {
    background: transparent;
    color: $c-gray-dark;
  }
}
