
// Blocks
// ----------------------------------------------------------------------------

vs-hero-banner-block,
.vs-hero-banner-block {
  @include transition(all .5s ease-in-out);
  @include clearfix();
  display: block;
  position: relative;
  text-align: center;
  color: $c-white;
  min-width: 20rem;
  min-height: 17.5rem;
  overflow: hidden;
}

// Elements
// ----------------------------------------------------------------------------

.vs-hero-banner-block__background {
  @include transition(padding .5s ease-in-out);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.vs-hero-banner-block-wrapper {
  @include make-col(12);
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  @include ie-flexbox-fix();
  min-height: 17.5rem;
}

.vs-hero-banner-block__title {
  @include transition(all .5s ease-in-out);
  position: relative;
  display: block;
  margin-top: 5.125rem;
  margin-bottom: 0;
  padding: 0 2.4375rem 2.5625rem 2.5rem;
  font-family: $font-family-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-transform: uppercase;

  &:last-child {
    padding-bottom: 0;
    margin-top: 0;
    transform: translateY(-50%);
    top: 50%;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      transform: none;
      top: auto;
    }
  }
}

.vs-hero-banner-block__content-wrapper {
  padding-bottom: 1.25rem;
}

.vs-hero-banner-block__description {
  display: block;
  padding: 0 2rem 0 2rem;
  font-family: $font-family-sans-serif;
  font-weight: 500;
  font-size: 0.6875rem;
  line-height: 1rem;
  letter-spacing: 0;

  & + .vs-hero-banner-block__cta-buttons-wrapper {
    margin-top: 0.875rem;
  }

  & + .vs-hero-banner-block__cta-links-wrapper {
    margin-top: 0.625rem;
  }
}

.vs-hero-banner-block__cta--button {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.75rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin-left: 0.46875rem;
  margin-right: 0.46875rem;
  margin-bottom: 0.9375rem;
}

.vs-hero-banner-block__cta-buttons-wrapper +
.vs-hero-banner-block__cta-links-wrapper {
  margin-top: -0.75rem;
}

.vs-hero-banner__cta--link {
  @include transition(all .5s ease-in-out);
  display: inline-block;
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 0.875rem;
  color: $c-white;
  text-transform: uppercase;
  text-decoration: underline;
  margin-left: 0.46875rem;
  margin-right: 0.46875rem;
  margin-bottom: 0.9375rem;

  &:hover {
    color: $c-white;
    opacity: .7;
    text-decoration: underline;
  }
}

.vs-hero-banner__button-wrapper {
  margin-bottom: .5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.vs-hero-banner__date + .vs-hero-banner__button-wrapper {
  padding-top: .125rem;
}

.vs-hero-banner__button {
  background-color: rgba($c-black, .4);
}

.vs-hero-banner__link {
  @include transition(all .5s ease-in-out);
  color: $c-white;
  font-size: .625rem;
  text-transform: uppercase;
  border-bottom: 1px solid $c-white;

  &:hover {
    opacity: .7;
    color: $c-white;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {
  vs-hero-banner-block,
  .vs-hero-banner-block,
  .vs-hero-banner-block__background,
  .vs-hero-banner-block-wrapper {
    min-height: 26.875rem;
  }

  .vs-hero-banner-block__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    padding: 0 2.4375rem 2.5625rem 2.5rem;
    margin-top: 10.6875rem;
  }

  .vs-hero-banner-block__content-wrapper {
    padding-bottom: 1.875rem;
  }

  .vs-hero-banner-block__description {
    font-size: 0.75rem;
    padding-left: 0.875rem;
    padding-right: 0.875rem;

    & + .vs-hero-banner-block__cta-buttons-wrapper {
      margin-top: 2.0625rem;
    }

    & + .vs-hero-banner-block__cta-links-wrapper {
      margin-top: 1rem;
    }
  }

  .vs-hero-banner-block__cta-buttons-wrapper +
  .vs-hero-banner-block__cta-links-wrapper {
    margin-top: -0.125rem;
  }

  .vs-hero-banner-block__cta--button {
    font-size: 0.875rem;
    line-height: 0.875rem;
  }

  .vs-hero-banner__cta--link {
    font-size: 0.9375rem;
    line-height: 1rem;
  }
}
