// Blocks
// ----------------------------------------------------------------------------

vs-claim-ticket,
.vs-claim-ticket {
  display: block;

  @include media-breakpoint-only('xs') {
    padding-top: 1.2rem;
  }

  @include media-breakpoint-up('lg') {
    padding-top: 2rem;
  }
}

vs-claim-ticket + vs-claim-ticket,
.vs-claim-ticket + .vs-claim-ticket {
  margin-top: 0.9375rem;
}

// Elements
// ----------------------------------------------------------------------------

.vs-claim-ticket__background {
  @include border-radius(.625rem .625rem 0 0);
  width: 100%;
  min-height: 10.75rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.vs-claim-ticket__content-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.vs-claim-ticket__content {
  @include border-radius(.625rem);

  background-color: $c-white;
  padding: 1.3125rem 1.25rem 1.875rem 1.25rem;
}

.vs-claim-ticket__heading {
  font-family: $font-family-sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.vs-claim-ticket__title {
  display: block;
  margin: 0;

  font-family: $font-family-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.25rem;

  color: $c-black;

  text-transform: uppercase;
}

.vs-claim-ticket__recipient {
  display: block;

  padding: 0.25rem 0 0.625rem 0;
  margin: 0;

  font-family: $font-family-sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.25rem;

  color: $c-black;
}

.vs-claim-ticket-wrapper {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.vs-claim-ticket__background + .vs-claim-ticket__content-wrapper .vs-claim-ticket__content {
  @include border-radius(0 0 .625rem .625rem);
}

// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {

  vs-claim-ticket + vs-claim-ticket,
  .vs-claim-ticket + .vs-claim-ticket {
    margin-top: 4.4375rem;
  }

  .vs-claim-ticket__background {
    min-height: 11.58125rem;
  }

  .vs-claim-ticket__content {
    padding: 1.875rem 5.0625rem 1.875rem 2.5rem;
    min-height: 9.9375rem;
  }

  .vs-claim-ticket__title {
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .vs-claim-ticket__recipient {
    font-family: $font-family-serif;
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2.25rem;

    padding: 0 0 0.9375rem 0;
  }
}

@include media-breakpoint-up(lg) {
  .vs-claim-ticket__background {
    min-height: 15.251875rem;
  }
}

@include media-breakpoint-up(xl) {
  .vs-claim-ticket__background {
    min-height: 18.4375rem;
  }
}
