
// Blocks
// ----------------------------------------------------------------------------

vs-hero-banner,
.vs-hero-banner {
  @include transition(all .5s ease-in-out);
  @include clearfix();
  display: block;
  background-color: #303241;
  position: relative;
  text-align: center;
  color: $c-white;
}

.vs-hero-banner__background--fixed {
  background-position: center top;
  background-size: cover;
  min-height: 17.125rem;
  position: absolute;
  width: 100%;
}

.vs-head-region .vs-hero-banner__background--fixed {
  position: fixed;
  max-height: 100%;
  top: 0;
}


// Elements
// ----------------------------------------------------------------------------

.vs-hero-banner__background {
  @include transition(padding .5s ease-in-out);
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include ie-flexbox-fix();
  min-height: 17.125rem;
}

.vs-hero-banner__days-left-wrapper {
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
  font-size: .625rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.vs-hero-banner__social-wrapper {
    position: absolute;
    right: .938rem;
    bottom: .625rem;
}

.vs-hero-banner__title {
  @include transition(all .5s ease-in-out);
  font-family: $font-family-serif;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0;

  &:last-child {
    margin-bottom: 0;
  }

  + .vs-hero-banner__button-wrapper {
    margin-top: 1.125rem;
  }
}

.vs-hero-banner__subtitle {
  @include transition(all .5s ease-in-out);
  font-family: $font-family-serif;
  font-size: 0.75rem;
  margin-bottom: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.vs-hero-banner__date {
  @include transition(all .5s ease-in-out);
  font-family: $font-family-serif;
  font-size: 1.125rem;
  margin-bottom: .5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.vs-hero-banner__button-wrapper {
  margin-bottom: .5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.vs-register-interest__gdpr-label {
  margin: 0 auto;
  max-width: 90%;
  padding-top: rem(20);

  a {
    color: $c-white;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  @include media-breakpoint-up(md) {
    max-width: 70%;
  }
}

.vs-hero-banner__date + .vs-hero-banner__button-wrapper {
  padding-top: .125rem;
}

.vs-hero-banner__button {
  background-color: rgba($c-black, .4);
}

.vs-hero-banner__link {
  @include transition(all .5s ease-in-out);
  color: $c-white;
  font-size: .625rem;
  text-transform: uppercase;
  border-bottom: 1px solid $c-white;

  &:hover {
    opacity: .7;
    color: $c-white;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.vs-hero-banner-constraint {
  overflow: hidden;
}

.vs-hero-banner-constraint__container.container {
  padding: 0;

  .vs-hero-banner__background--fixed {

    @media screen and (min-width: 1440px) {
      @include make-constrained();
    }
  }
}

.vs-hero-banner__logo {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: auto;
  margin-bottom: 1.25rem;
  max-height: 4.688rem;
  max-width: 12rem;
}


// Modifiers
// ----------------------------------------------------------------------------

.vs-hero-banner--small {

  min-height: 8.5rem;

  .vs-hero-banner__background--fixed,
  .vs-hero-banner__background {
     min-height: 8.5rem;
  }
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {
  vs-hero-banner,
  .vs-hero-banner__background--fixed,
  .vs-hero-banner__background {
    min-height: 34rem;
  }

  .vs-hero-banner__background {
    padding: 3.5rem 0;
  }

  .vs-hero-banner__logo,
  .vs-hero-banner__logo-image {
    max-height: 10.313rem;
    max-width: 54rem;
    margin-bottom: 2rem;
  }

  .vs-hero-banner__days-left-wrapper {
    @include box-shadow(inset 0 0 0 2px $c-white);
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    position: absolute;
    right: 2.8125rem;
    top: 8.4375rem;
    margin-bottom: 0;
  }

  .vs-hero-banner__days-left {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.5rem;
    padding: 1.563rem 0 .313rem 0;
    display: block;
  }

  .vs-hero-banner__days-label {
    font-family: $font-family-serif;
    font-size: .813rem;
    font-weight: 500;
    line-height: .813rem;
    opacity: .8;
  }

  .vs-hero-banner__social-wrapper {
      right: 3.125rem;
      bottom: 3.75rem;
  }

  .vs-hero-banner__link {
    font-size: .75rem;
  }

  .vs-hero-banner__title {
    font-size: 3.125rem;
  }

  .vs-hero-banner__subtitle {
    font-size: 1.25rem;
  }

  .vs-hero-banner__date {
    font-size: 2.1875rem;
    margin-bottom: 1.125rem;
  }

  .vs-hero-banner__button {
    line-height: 1.7;
    font-size: 1rem;
    min-height: 3.125rem;
    min-width: 13.75rem;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }

  .vs-hero-banner__date + .vs-hero-banner__button-wrapper {
    padding-top: .25rem;
  }

  .vs-hero-banner--small {

    min-height: 25.25rem;

    .vs-hero-banner__background--fixed,
    .vs-hero-banner__background {
      min-height: 25.25rem;
    }
  }
}
