
// Blocks
// ----------------------------------------------------------------------------

vs-card-upcoming,
.vs-card-upcoming {
  @include clearfix();
  display: block;
  position: relative;
  z-index: 3;
}


// Elements
// ----------------------------------------------------------------------------

.vs-card-upcoming__content-wrapper {
  padding: 0 .625rem .938rem .625rem;
}

.vs-card-upcoming__image-wrapper {
  padding: .938rem .625rem 0 .625rem;
}

.vs-card-upcoming__content {
  position: relative;
  overflow: hidden;
  border-radius: 0 0 .625rem .625rem;
  padding: 0.938rem 1.250rem 1.875rem 1.250rem;
}

.vs-card-upcoming__image {
  min-height: 9.375rem;
  background-size: cover;
  background-position: center center;
  border-radius: .625rem .625rem 0 0;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.vs-card-upcoming__title {
  font-family: $font-family-serif;
  color: $c-white;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.250rem;
  margin-bottom: .25rem;
  position: relative;
}

.vs-card-upcoming__date {
  font-family: $font-family-serif;
  color: $c-white;
  font-size: .75rem;
  line-height: 0.875rem;
  margin-bottom: 1.250rem;
  position: relative;
}

.vs-card-upcoming__button {
  width: 100%;
  position: relative;
  min-width: rem(120);
}

.vs-card-upcoming__button--cta {
  margin: rem(20) 0 0;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vs-card-upcoming__text {
  position: relative;
  color: $c-white;
}


// Modifiers
// ----------------------------------------------------------------------------

@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-card-upcoming--color-#{$color} {

    .vs-card-upcoming__date,
    .vs-card-upcoming__text {
      color: map_get($map, 'text-color');
    }
    .vs-card-upcoming__title {
      color: map_get($map, 'title-color');
    }
  }
}

// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {
  vs-card-upcoming,
  .vs-card-upcoming {
    .row {
      @include flexbox();
      @include flex-wrap(wrap);
    }
  }

  .vs-card-upcoming__content-wrapper {
    .vs-card-upcoming__content {
      @include center(false, true);
      padding: 1.563rem;
      border-radius: .625rem;
      margin-left: -5.625rem;
      min-height: 16.5rem;
      width: 22.5rem;
    }

    &[class*='pull-'] {
      .vs-card-upcoming__content {
        margin-left: .625rem;
      }
    }
  }

  .vs-card-upcoming__image-wrapper {
    padding: .938rem 1.25rem;

    .vs-card-upcoming__image {
      min-height: 22.813rem;
      border-radius: .625rem;
    }
  }

  .vs-card-upcoming__button {
    width: auto;
  }

  .vs-card-upcoming__button--cta {
    margin: 0 0 0 rem(20);
    max-width: 166px;
  }

  .vs-card-upcoming__title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: .313rem;
  }

  .vs-card-upcoming__date {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

@include media-breakpoint-up(lg) {
  .vs-card-upcoming__content-wrapper {
    .vs-card-upcoming__content {
      margin-left: -6.75rem;
      width: 29.375rem;
    }

    &[class*='pull-'] {
      .vs-card-upcoming__content {
        margin-left: .625rem;
        width: 29.375rem;
      }
    }
  }

  .vs-card-upcoming__image-wrapper {
    padding: 1.563rem 1.25rem;
  }

  .vs-card-upcoming__title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: .313rem;
  }

  .vs-card-upcoming__date {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .vs-card-upcoming__button--cta {
    margin: 0 0 0 rem(26);
    max-width: 270px;
  }
}

@include media-breakpoint-up(xl) {
  .vs-card-upcoming__content-wrapper {
    padding-left: .625rem;

    .vs-card-upcoming__content {
      margin-left: -6.25rem;
      width: 34.063rem;
    }

    &[class*='pull-'] {
      .vs-card-upcoming__content {
        min-height: 16.875rem;
        width: 34.375rem;
      }
    }
  }

  .vs-card-upcoming__image-wrapper {
    padding: 2.5rem 1.25rem;

    .vs-card-upcoming__image {
      min-height: 22.813rem;
      min-width: 43.75rem;
    }

    &[class*='push-'] {
      .vs-card-upcoming__image {
        margin-left: -4.625rem;
      }
    }
  }

  .vs-card-upcoming__button-wrapper {
    position: absolute;
    bottom: 1.563rem;
  }

  .vs-card-upcoming__text {
    padding-bottom: 1.875rem;
  }

  .vs-card-upcoming__button--cta {
    max-width: 350px;
  }
}
