
// Blocks
// ----------------------------------------------------------------------------
vs-tabs,
.vs-tabs {
  @include clearfix();
  display: block;
}


// Elements
// ----------------------------------------------------------------------------

.vs-tabs__nav-link-wrapper {
  margin-bottom: 0;
  padding-top: .375rem;
}

.nav-tabs {
  border-bottom-color: #B2B2B2;
  background-color: $c-white;
  font-size: 0;
  border-radius: .625rem .625rem 0 0;
  margin-left: -.625rem;
  margin-right: -.625rem;
}

.nav-tabs .nav-item {
  width: 50%;
  text-align: center;

  &.active .nav-link {
    background-color: transparent;
    border-color: $c-orange-bright;
    font-weight: 500;
    color: #FF1403;

    &:hover,
    &:focus {
      background-color: transparent;
      border-color: $c-orange-bright;
      color: #FF1403;
    }
  }

  + .nav-item {
    margin: 0;
  }
}

.nav-tabs .nav-link {
  @include transition(all .2s ease-in-out);
  border: 0;
  border-bottom: 6px solid transparent;
  font-family: $font-family-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  color: rgba($c-black, .6);
  padding: 1.25rem 0;

  &:hover {
    border-color: $c-orange-bright;
  }
}

.tab-content > .tab-pane {
  background-color: $c-white;
  margin-left: -.625rem;
  margin-right: -.625rem;
  padding: .375rem;
  border-radius: 0 0 .625rem .625rem;
}


// Modifiers
// ----------------------------------------------------------------------------

@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-tabs--color-#{$color} {
    .nav-tabs .nav-item {
      &.active .nav-link {
        border-color: map_get($map, 'solid-color');
        color: map_get($map, 'solid-color');

        &:hover,
        &:focus {
          border-color: map_get($map, 'solid-color');
        }
      }

      &:hover {
        border-color: map_get($map, 'solid-color');
      }
    }
  }
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {
  .tab-content > .tab-pane {
    padding: .625rem .9375rem;
  }

  .nav-tabs .nav-link {
    font-size: 1.25rem;
    padding: 1.5625rem 0;
  }
}
