/**
 * @file
 * Styles for configuration of CKEditor module.
 *
 * Many of these styles are adapted directly from the default CKEditor theme
 * "moono".
 */
.ckeditor-active-toolbar-configuration {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ckeditor-toolbar-active {
  border: 1px solid #b6b6b6;
  padding: 6px 4px 2px;
  background: #cfd1cf;
  background-image: -webkit-gradient(linear, left top, left bottom, from(whiteSmoke), to(#cfd1cf));
  background-image: -moz-linear-gradient(top, whiteSmoke, #cfd1cf);
  background-image: -o-linear-gradient(top, whiteSmoke, #cfd1cf);
  background-image: -ms-linear-gradient(top, whiteSmoke, #cfd1cf);
  background-image: linear-gradient(top, whiteSmoke, #cfd1cf);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#fff5f5f5', endColorstr='#ffcfd1cf');
  margin: 5px 0;
  line-height: 1;
  font: 12px Arial, Helvetica, Tahoma, Verdana, sans-serif;
}
.ckeditor-toolbar-disabled {
  margin: 5px 0;
  line-height: 1;
  font: 12px Arial, Helvetica, Tahoma, Verdana, sans-serif;
}

.ckeditor-buttons,
.ckeditor-multiple-buttons,
.ckeditor-group-add-wrapper {
  min-height: 26px;
  min-width: 28px;
  list-style: none;

  display: inline-block;
  padding: 0;
  margin: 0;
  border: 1px solid #a6a6a6;
  border-bottom-color: #979797;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 0 2px rgba(255, 255, 255, .15) inset, 0 1px 0 rgba(255, 255, 255, .15) inset;
}
.ckeditor-button,
.ckeditor-button-placeholder,
.ckeditor-group-add {
  display: inline-block;
  height: 18px;
  padding: 4px 6px;
  outline: none;
  cursor: move;
  border: 0;
  vertical-align: middle;
  line-height: 1.6;

  background: #e4e4e4;
  background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#e4e4e4));
  background-image: -moz-linear-gradient(top,white,#e4e4e4);
  background-image: -webkit-linear-gradient(top,white,#e4e4e4);
  background-image: -o-linear-gradient(top,white,#e4e4e4);
  background-image: -ms-linear-gradient(top,white,#e4e4e4);
  background-image: linear-gradient(top,white,#e4e4e4);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#ffffffff',endColorstr='#ffe4e4e4');
}
.ckeditor-buttons .ckeditor-button:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.ckeditor-buttons .ckeditor-button:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.ckeditor-buttons .ckeditor-button-placeholder {
  background: #333;
  opacity: 0.3;
}
.ckeditor-buttons a {
  cursor: move;
}
.ckeditor-group-add-wrapper {
  float: left; /* LTR */
  margin: 0px 0.3333em;
}
[dir="rtl"] .ckeditor-group-add-wrapper {
  float: right;
}
.ckeditor-group-add {
  cursor: pointer;
  border-radius: 2px;
}
.ckeditor-group-add::before {
  content: "+ ";
}
.ckeditor-multiple-buttons {
  min-width: auto;
  margin: 0 1em;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.ckeditor-multiple-buttons .ckeditor-button {
  padding: 2px 0;
  margin: 0;
  display: inline-block;
  height: 18px;
  min-width: 16px;
  cursor: move;
}
.ckeditor-row-controls {
  float: right; /* LTR */
  font-size: 18px;
  width: 40px;
  text-align: right;
}
[dir="rtl"] .ckeditor-row-controls {
  float: left;
}
.ckeditor-row-controls a {
  display: inline-block;
  padding: 6px 2px;
  height: 16px;
  width: 16px;
  line-height: 0.9;
  font-weight: bold;
  color: #333;
  text-align: center;
}
.ckeditor-row-controls a:hover {
  text-decoration: none;
}
.ckeditor-multiple-label {
  float: left;
  padding: 4px;
}
.ckeditor-buttons .ckeditor-button-separator {
  width: 4px;
  padding: 0 4px;
  height: 26px;
  text-align: center;

  background: #e4e4e4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#e4e4e4));
  background-image: -moz-linear-gradient(top, white, #e4e4e4);
  background-image: -webkit-linear-gradient(top, white, #e4e4e4);
  background-image: -o-linear-gradient(top, white, #e4e4e4);
  background-image: -ms-linear-gradient(top, white, #e4e4e4);
  background-image: linear-gradient(top, white, #e4e4e4);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#ffffffff', endColorstr='#ffe4e4e4');
}
.ckeditor-multiple-buttons .ckeditor-button-separator {
  width: 10px;
  min-width: auto;
  padding: 0;
  height: 26px;
  text-align: center;
}
.ckeditor-separator {
  background-color: silver;
  background-color: rgba(0, 0, 0, .2);
  margin: 5px 0;
  height: 18px;
  width: 1px;
  display: inline-block;
  -webkit-box-shadow: 1px 0 1px rgba(255, 255, 255, .5);
  -moz-box-shadow: 1px 0 1px rgba(255,255,255,.5);
  box-shadow: 1px 0 1px rgba(255, 255, 255, .5)
}
.ckeditor-button-arrow {
  width: 0;
  text-align: center;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #333;
  display: inline-block;
  margin: 0 4px 2px;
}
.ckeditor-toolbar-disabled {
  margin-bottom: 0.5em;
}
.ckeditor-row {
  padding: 2px 0 3px;
  border-radius: 3px;
}
.ckeditor-row + .ckeditor-row {
  margin-top: 0.25em;
  clear: both;
}
.ckeditor-toolbar-groups {
  margin: 0;
  padding: 0;
  list-style: none;
  min-height: 2em;
  min-width: 4px;
  float: left; /* LTR */
}
[dir="rtl"] .ckeditor-toolbar-groups {
  float: right;
}
.ckeditor-toolbar-group {
  display: inline-block;
  margin: 0 0.3333em;
  cursor: move;
}
.ckeditor-group-names-are-visible .ckeditor-toolbar-group {
  border: 1px dotted #a6a6a6;
  border-radius: 3px;
  padding: 0.2em 0.4em;
}
.ckeditor-toolbar-group-name {
  display: none;
  font-size: 1em;
  font-weight: normal;
  margin: -1.5em 0 .25em;
  background: white;
  padding: 0 4px;
  border: 1px solid #B6B6B6;
  border-radius: 3px;
  vertical-align: top;
}
.ckeditor-group-names-are-visible .ckeditor-toolbar-group-name {
  display: block;
  cursor: pointer;
}
.ckeditor-toolbar-group-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left; /* LTR */
}
[dir="rtl"] .ckeditor-toolbar-group-buttons {
  float: right;
}
.ckeditor-groupnames-toggle {
  cursor: pointer;
  float: right; /* LTR */
}
[dir="rtl"] .ckeditor-groupnames-toggle {
  float: left;
}

