
body,
html {
  @include font-smoothing();
}

body {
  overflow-x: hidden;
}

.vs-content-wrapper {
  border-radius: .625rem;
  margin-left: -.625rem;
  margin-right: -.625rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.vs-content-wrapper--white {
  background-color: $c-white;
}

.page-wrapper {
  position: relative;
  min-height: 100%;
  margin-bottom: -15.625rem;

  &:after {
    content: '';
    display: block;
    height: 15.625rem;
  }
}

.modal-open {
  .page-wrapper {
    overflow: hidden;
  }

  /* Fix for iphone/ipad issues with modal jumping on interaction */
  @include media-breakpoint-down(md) {
    .vs-overlay-blur {
      position: fixed;
    }
  }
}

p {
  margin-bottom: 1.875rem;
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.25rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    font-size: $font-size-base;
    line-height: 1.5rem;
  }
}

.vs-menu-open {
  overflow: hidden;
}

.vs-invisible-element {
  display: none;
}


// Gradient variations

%vs-gradient-blue {
  @include gradient-x(#1F85FF, #4231CB, 0%, 100%);
}

%vs-gradient-teal {
  @include gradient-x(#01B9C0, #001642, 0%, 100%);
}

%vs-gradient-orange {
  @include gradient-x(#FF5858, #FFE386, 0%, 100%);
}

%vs-gradient-purple {
  @include gradient-x(#9D50BB, #3A2899, 0%, 100%);
}

%vs-gradient-brown {
  @include gradient-x(#840324, #061161, 0%, 100%);
}

%vs-gradient-rose {
  @include gradient-x(#F857A6, #FF5858, 0%, 100%);
}

%vs-gradient-violet {
  @include gradient-x(#FB8B5F, #504EA1, 0%, 100%);
}


// Used to provide fade out animation when page loads
// ----------------------------------------------------------------------------
.v-element {
  @include transition(opacity, .7s ease-in-out);
  opacity: 0;

  &.v-element--ready {
    opacity: 1;
  }
}
