

// Icon variables
// ----------------------------------------------------------------------------

$icon-high-five: "\e916";
$icon-join-team: "\e919";
$icon-tell-us: "\e922";
$icon-buy-gear: "\e909";
$icon-share: "\e91f";
$icon-event-selfie: "\e912";
$icon-review: "\e91e";
$icon-results-medal: "\e91d";
$icon-results-cup: "\e91c";
$icon-replay: "\e91b";
$icon-team-member: "\e921";
$icon-country-landing-uk: "\e90c";
$icon-country-landing-us: "\e90d";
$icon-confirmation: "\e90b";
$icon-average-pace: "\e907";
$icon-finish-time: "\e914";
$icon-celebration: "\e90a";
$icon-basket: "\e908";
$icon-avatar: "\e906";
$icon-email-share: "\e90f";
$icon-icon-email-filled: "\e900";
$icon-facebook: "\e901";
$icon-instagram: "\e902";
$icon-snapchat: "\e903";
$icon-twitter: "\e904";
