// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.


// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components

// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.

// Custom theme colors
$c-white:                     #FFFFFF;
$c-gray-dark:                 #303030;
$c-gray:                      #b2b2b2;
$c-gray-light:                #f0f0f0;
$c-gray-lighter:              #f7f7f7;

$c-blue:                      #2083FE;
$c-teal:                      #00A7B1;
$c-orange-bright:             #FF0040;
$c-orange:                    #FF4E4D;
$c-orange-light:              #FF5C28;
$c-purple:                    #9A32C9;
$c-brown:                     #AB0041;
$c-rose:                      #F857A6;
$c-violet:                    #645BB4;
$c-red:                       #E10A0A;
$c-pinky-red:                 #F03A72;
$c-red-dark:                  #F70F1B;
$c-red-darker:                #4C0103;
$c-yellow:                    #FBF13F;
$c-green:                     #27C161;
$c-green-light:               #BEDE19;
$c-green-lighter:             #D3F7DB;

$c-lsc-red:                   #FF5555;
$c-yellow-brighter:           #FFE01C;
$c-pool-blue:                 #00C5DF;
$c-putty:                     #F0F0F0;
$c-graphite:                  #1E1E1E;
$c-black:                     #000000;
$c-body-text:                 #777777;

// Brand color schemes
$color-schemes: (
  default: (
    solid-color: $c-putty,
    text-color: $c-body-text,
    title-color: $c-black,
    from: $c-putty,
    to: $c-putty,
    rotate: 0deg,
    card-rotate: 135deg,
    outline-from: $c-putty,
    outline-to: $c-putty,
    outline-rotate: 0%,
    is-solid: true,
    input-color: transparent,
    input-border-color: rgba($c-black, .2)
  ),
  black: (
    solid-color: $c-black,
    text-color: $c-white,
    title-color: $c-white,
    from: $c-black,
    to: $c-black,
    rotate: 0deg,
    card-rotate: 135deg,
    outline-from: $c-black,
    outline-to: $c-black,
    outline-rotate: 0%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  gray: (
    solid-color: $c-putty,
    text-color: $c-body-text,
    title-color: $c-black,
    from: $c-putty,
    to: $c-putty,
    rotate: 0deg,
    card-rotate: 135deg,
    outline-from: $c-putty,
    outline-to: $c-putty,
    outline-rotate: 0%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: rgba($c-black, .2)
  ),
  gray-dark: (
    solid-color: #E0E0E0,
    text-color: $c-body-text,
    title-color: $c-black,
    from: #E0E0E0,
    to: #E0E0E0,
    rotate: 0deg,
    card-rotate: 135deg,
    outline-from: #E0E0E0,
    outline-to: #E0E0E0,
    outline-rotate: 0%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  white: (
    solid-color: $c-white,
    text-color: $c-body-text,
    text-color-focus: $c-black,
    title-color: $c-black,
    from: $c-white,
    to: $c-white,
    rotate: 0deg,
    card-rotate: 135deg,
    outline-from: $c-white,
    outline-to: $c-white,
    outline-rotate: 0%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: rgba($c-black, .2)
  ),
  blue: (
    solid-color: $c-blue,
    text-color: $c-white,
    title-color: $c-white,
    from: #1F85FF,
    to: #4231CB,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #1F85FF,
    outline-to: #4231CB,
    outline-rotate: -45%,
    is-solid: false,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  blue-solid: (
    solid-color: $c-blue,
    text-color: $c-white,
    title-color: $c-white,
    from: $c-blue,
    to: $c-blue,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: $c-blue,
    outline-to: $c-blue,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  teal: (
    solid-color: $c-teal,
    text-color: $c-white,
    title-color: $c-white,
    from: #01B9C0,
    to: #001642,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #01B9C0,
    outline-to: #001642,
    outline-rotate: -45%,
    is-solid: false,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  teal-solid: (
    solid-color: $c-teal,
    text-color: $c-white,
    title-color: $c-white,
    from: $c-teal,
    to: $c-teal,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: $c-teal,
    outline-to: $c-teal,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  orange: (
    solid-color: $c-orange,
    text-color: $c-white,
    title-color: $c-white,
    to: #FFE386,
    from: #FF5858,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #FE386,
    outline-to: #FF5858,
    outline-rotate: -45%,
    is-solid: false,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  orange-solid: (
    solid-color: $c-orange,
    text-color: $c-white,
    title-color: $c-white,
    from: $c-orange,
    to: $c-orange,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: $c-orange,
    outline-to: $c-orange,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  purple: (
    solid-color: $c-purple,
    text-color: $c-white,
    title-color: $c-white,
    from: #9D50BB,
    to: #3A2899,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #9D50BB,
    outline-to: #3A2899,
    outline-rotate: -45%,
    is-solid: false,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  purple-solid: (
    solid-color: $c-purple,
    text-color: $c-white,
    title-color: $c-white,
    from: $c-purple,
    to: $c-purple,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: $c-purple,
    outline-to: $c-purple,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  brown: (
    solid-color: $c-brown,
    text-color: $c-white,
    title-color: $c-white,
    from: #840324,
    to: #061161,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #840324,
    outline-to: #061161,
    outline-rotate: -45%,
    is-solid: false,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  brown-solid: (
    solid-color: $c-brown,
    text-color: $c-white,
    title-color: $c-white,
    from: $c-brown,
    to: $c-brown,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: $c-brown,
    outline-to: $c-brown,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  rose: (
    solid-color: $c-rose,
    text-color: $c-white,
    title-color: $c-white,
    from: #F857A6,
    to: #FF5858,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #F857A6,
    outline-to: #FF5858,
    outline-rotate: -45%,
    is-solid: false,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  rose-solid: (
    solid-color: $c-rose,
    text-color: $c-white,
    title-color: $c-white,
    from: $c-rose,
    to: $c-rose,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: $c-rose,
    outline-to: $c-rose,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  violet: (
    solid-color: $c-violet,
    text-color: $c-white,
    title-color: $c-white,
    from: #FB8B5F,
    to: #504EA1,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #FB8B5F,
    outline-to: #504EA1,
    outline-rotate: -45%,
    is-solid: false,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  violet-solid: (
    solid-color: $c-violet,
    text-color: $c-white,
    title-color: $c-white,
    from: $c-violet,
    to: $c-violet,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: $c-violet,
    outline-to: $c-violet,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  red: (
    solid-color: #FF0040,
    text-color: $c-white,
    title-color: $c-white,
    from: #FF0040,
    to: #830A2A,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #FF0040,
    outline-to: #830A2A,
    outline-rotate: -45%,
    is-solid: false,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  red-yellow: (
    solid-color: $c-red,
    text-color: $c-white,
    title-color: $c-white,
    from: $c-red,
    to: $c-yellow,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: $c-red,
    outline-to: $c-yellow,
    outline-rotate: -45%,
    is-solid: false,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  red-pinky-red: (
    solid-color: $c-red,
    text-color: $c-white,
    title-color: $c-white,
    from: $c-red,
    to: $c-pinky-red,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: $c-red,
    outline-to: $c-pinky-red,
    outline-rotate: -45%,
    is-solid: false,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  red-dark-red-darker: (
    solid-color: $c-red-dark,
    text-color: $c-white,
    title-color: $c-white,
    from: $c-red-dark,
    to: $c-red-darker,
    rotate: 0deg,
    card-rotate: 0deg,
    outline-from: $c-red-dark,
    outline-to: $c-red-darker,
    outline-rotate: -45%,
    is-solid: false,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  festival-hackney: (
    solid-color: #FF0400,
    text-color: $c-white,
    title-color: $c-white,
    from: #EA2322,
    to: #232073,
    rotate: -90deg,
    card-rotate: 90deg,
    outline-from: #EA2322,
    outline-to: #232073,
    outline-rotate: -45%,
    is-solid: false,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  festival-british: (
    solid-color: #D60000,
    text-color: $c-white,
    title-color: $c-white,
    from: #D60000,
    to: #FFE200,
    rotate: -90deg,
    card-rotate: 90deg,
    outline-from: #D60000,
    outline-to: #FFE200,
    outline-rotate: -45%,
    is-solid: false,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  festival-sanfran: (
    solid-color: #00A7B1,
    text-color: $c-white,
    title-color: $c-white,
    from: #01B9C0,
    to: #001642,
    rotate: -90deg,
    card-rotate: 90deg,
    outline-from: #01B9C0,
    outline-to: #00264F,
    outline-rotate: -45%,
    is-solid: false,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  festival-oxford: (
    solid-color: #00A7B1,
    text-color: $c-white,
    title-color: $c-white,
    from: #01B9C0,
    to: #001642,
    rotate: -90deg,
    card-rotate: 90deg,
    outline-from: #01B9C0,
    outline-to: #00264F,
    outline-rotate: -45%,
    is-solid: false,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  pinky-red-solid: (
    solid-color: $c-pinky-red,
    text-color: $c-white,
    title-color: $c-white,
    from: $c-pinky-red,
    to: $c-pinky-red,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: $c-pinky-red,
    outline-to: $c-pinky-red,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  lsc-red-solid: (
    solid-color: $c-lsc-red,
    text-color: $c-white,
    title-color: $c-white,
    from: $c-lsc-red,
    to: $c-lsc-red,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: $c-lsc-red,
    outline-to: $c-lsc-red,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  yellow-solid: (
    solid-color: $c-yellow-brighter,
    text-color: $c-black,
    title-color: $c-black,
    from: $c-yellow-brighter,
    to: $c-yellow-brighter,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: $c-yellow-brighter,
    outline-to: $c-yellow-brighter,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  pool-blue-solid: (
    solid-color: $c-pool-blue,
    text-color: $c-white,
    title-color: $c-white,
    from: $c-pool-blue,
    to: $c-pool-blue,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: $c-pool-blue,
    outline-to: $c-pool-blue,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  putty-solid: (
    solid-color: $c-putty,
    text-color: $c-black,
    title-color: $c-black,
    from: $c-putty,
    to: $c-putty,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: $c-putty,
    outline-to: $c-putty,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-black,
    input-border-color: $c-black
  ),
  graphite-solid: (
    solid-color: $c-graphite,
    text-color: $c-white,
    title-color: $c-white,
    from: $c-graphite,
    to: $c-graphite,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: $c-graphite,
    outline-to: $c-graphite,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  asics-blue: (
    solid-color: #001E62,
    text-color: $c-white,
    title-color: $c-white,
    from: #001E62,
    to: #001E62,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #001E62,
    outline-to: #001E62,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  asics-light-blue: (
    solid-color: #00BBDC,
    text-color: $c-white,
    title-color: $c-white,
    from: #00BBDC,
    to: #00BBDC,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #00BBDC,
    outline-to: #00BBDC,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  asics-light-green: (
    solid-color: #D0DF00,
    text-color: $c-white,
    title-color: $c-white,
    from: #D0DF00,
    to: #D0DF00,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #D0DF00,
    outline-to: #D0DF00,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  asics-coral: (
    solid-color: #F8485E,
    text-color: $c-white,
    title-color: $c-white,
    from: #F8485E,
    to: #F8485E,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #F8485E,
    outline-to: #F8485E,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  asics-tertiary-green: (
    solid-color: #00B398,
    text-color: $c-white,
    title-color: $c-white,
    from: #00B398,
    to: #00B398,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #00B398,
    outline-to: #00B398,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  asics-tertiary-orange: (
    solid-color: #FFA300,
    text-color: $c-white,
    title-color: $c-white,
    from: #FFA300,
    to: #FFA300,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #FFA300,
    outline-to: #FFA300,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  asics-tertiary-purple: (
    solid-color: #9B26B6,
    text-color: $c-white,
    title-color: $c-white,
    from: #9B26B6,
    to: #9B26B6,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #9B26B6,
    outline-to: #9B26B6,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  nike-red: (
    solid-color: #ff0400,
    text-color: $c-white,
    title-color: $c-white,
    from: #ff0400,
    to: #ff0400,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #ff0400,
    outline-to: #ff0400,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  nike-blue: (
    solid-color: #1700FF,
    text-color: $c-white,
    title-color: $c-white,
    from: #1700FF,
    to: #1700FF,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #1700FF,
    outline-to: #1700FF,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
  nike-green: (
    solid-color: #BEFE04,
    text-color: $c-white,
    title-color: $c-white,
    from: #BEFE04,
    to: #BEFE04,
    rotate: -45deg,
    card-rotate: 135deg,
    outline-from: #BEFE04,
    outline-to: #BEFE04,
    outline-rotate: -45%,
    is-solid: true,
    input-color: $c-white,
    input-border-color: $c-white
  ),
);

// Pattern/Color schemes
$pattern-schemes: (
  wave: (
    blue:             ( img: 'vs-color-wave-1.svg', opacity: .2, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    blue-solid:       ( img: 'vs-color-wave-1.svg', opacity: .6, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    teal:             ( img: 'vs-color-wave-1.svg', opacity: .2, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    teal-solid:       ( img: 'vs-color-wave-1.svg', opacity: .6, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    orange:           ( img: 'vs-color-wave-1.svg', opacity: 1, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    orange-solid:     ( img: 'vs-color-wave-1.svg', opacity: .6, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    purple:           ( img: 'vs-color-wave-1.svg', opacity: .2, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    purple-solid:     ( img: 'vs-color-wave-1.svg', opacity: .6, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    brown:            ( img: 'vs-color-wave-1.svg', opacity: .4, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    brown-solid:      ( img: 'vs-color-wave-1.svg', opacity: .6, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    rose:             ( img: 'vs-color-wave-1.svg', opacity: .4, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    rose-solid:       ( img: 'vs-color-wave-1.svg', opacity: .6, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    violet:           ( img: 'vs-color-wave-1.svg', opacity: .2, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    violet-solid:     ( img: 'vs-color-wave-1.svg', opacity: .6, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    red:              ( img: 'vs-color-wave-1.svg', opacity: .6, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    red-yellow:       ( img: 'vs-color-wave-1.svg', opacity: .6, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    red-pinky-red:    ( img: 'vs-color-wave-1.svg', opacity: .6, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    festival-hackney: ( img: 'vs-color-wave-1.svg', opacity: .6, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    festival-british: ( img: 'vs-color-wave-1.svg', opacity: .6, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
    festival-sanfran: ( img: 'vs-color-wave-1.svg', opacity: .6, positionX: right, positionY: center, size: 140%, size-md: 150%, size-lg: 150% ),
  ),
  circle: (
    blue:             ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    blue-solid:       ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    teal:             ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    teal-solid:       ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    orange:           ( img: 'vs-color-circle-1.svg', opacity: .2, positionX: right, positionY: center, size: cover ),
    orange-solid:     ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    purple:           ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    purple-solid:     ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    brown:            ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    brown-solid:      ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    rose:             ( img: 'vs-color-circle-1.svg', opacity: .1, positionX: right, positionY: center, size: cover ),
    rose-solid:       ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    violet:           ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    violet-solid:     ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    red:              ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    red-yellow:       ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    red-pinky-red:    ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    festival-hackney: ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    festival-british: ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
    festival-sanfran: ( img: 'vs-color-circle-1.svg', opacity: .05, positionX: right, positionY: center, size: cover ),
  )
);

$state-danger:                #EA2322;

// Custom variables
$button-hover:                .7;
$main-nav-breakpoint:         1240px;
$sticky-basket-height:        6.25rem;
$bar-height:                  6.25rem;


// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// $gray-dark:                 #373a3c;
// $gray:                      #55595c;
// $gray-light:                #818a91;
// $gray-lighter:              #eceeef;
// $gray-lightest:             #f7f7f9;

// $brand-primary:             #0275d8;
// $brand-success:             #5cb85c;
// $brand-info:                #5bc0de;
// $brand-warning:             #f0ad4e;
// $brand-danger:              #d9534f;
// $brand-inverse:             $gray-dark;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               false;
$enable-rounded:            true;
$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        true;
// $enable-hover-media-query:  false;
// $enable-grid-classes:       true;
// $enable-print-styles:       true;


// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// $spacer:   1rem;
// $spacer-x: $spacer;
// $spacer-y: $spacer;
// $spacers: (
//  0: (
//    x: 0,
//    y: 0
//  ),
//  1: (
//    x: $spacer-x,
//    y: $spacer-y
//  ),
//  2: (
//    x: ($spacer-x * 1.5),
//    y: ($spacer-y * 1.5)
//  ),
//  3: (
//    x: ($spacer-x * 3),
//    y: ($spacer-y * 3)
//  )
//);
// $border-width: 1px;


// Body
//
// Settings for the `<body>` element.

$body-bg:    $c-putty;
$body-color: $c-body-text;


// Links
//
// Style anchor elements.

// $link-color:            $brand-primary;
// $link-decoration:       none;
// $link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: none;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// $grid-breakpoints: (
//  xs: 0,
//  sm: 544px,
//  md: 768px,
//  lg: 992px,
//  xl: 1200px
//);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// $container-max-widths: (
//  sm: 576px,
//  md: 720px,
//  lg: 940px,
//  xl: 1140px
//);


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

// $grid-columns:      12;
// $grid-gutter-width: 30px;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:    'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$font-family-serif:         'Montserrat', Georgia, "Times New Roman", Times, serif;
// $font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// $font-family-base:       $font-family-sans-serif;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
// $font-size-root: 16px;

$font-size-base: .9375rem;
// $font-size-lg:   1.25rem;
// $font-size-sm:   .875rem;
$font-size-xs:   .8125rem;

// $line-height-base: 1.5;

// $font-size-h1: 2.5rem;
// $font-size-h2: 2rem;
// $font-size-h3: 1.75rem;
// $font-size-h4: 1.5rem;
// $font-size-h5: 1.25rem;
// $font-size-h6: 1rem;

// $display1-size: 6rem;
// $display2-size: 5.5rem;
// $display3-size: 4.5rem;
// $display4-size: 3.5rem;

// $display1-weight: 300;
// $display2-weight: 300;
// $display3-weight: 300;
// $display4-weight: 300;

// $headings-margin-bottom: ($spacer / 2);
// $headings-font-family:   inherit;
// $headings-font-weight:   500;
// $headings-line-height:   1.1;
// $headings-color:         inherit;

// $lead-font-size:   1.25rem;
// $lead-font-weight: 300;

// $small-font-size: 80%;

// $text-muted: $gray-light;

// $abbr-border-color: $gray-light;

// $blockquote-small-color:  $gray-light;
// $blockquote-font-size:    ($font-size-base * 1.25);
// $blockquote-border-color: $gray-lighter;
// $blockquote-border-width: .25rem;

// $hr-border-color: rgba(0,0,0,.1);
// $hr-border-width: $border-width;

// $mark-padding: .2em;

// $dt-font-weight: bold;

// $kbd-box-shadow:         inset 0 -.1rem 0 rgba(0,0,0,.25);
// $nested-kbd-font-weight: bold;

// $list-inline-padding: 5px;


// Components
//
// Define common padding and border radius sizes and more.

// $line-height-lg:         (4 / 3);
// $line-height-sm:         1.5;

// $border-radius:          .25rem;
// $border-radius-lg:       .3rem;
// $border-radius-sm:       .2rem;

// $component-active-color: #fff;
// $component-active-bg:    $brand-primary;

// $caret-width:            .3em;
// $caret-width-lg:         $caret-width;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

// $table-cell-padding:            .75rem;
// $table-sm-cell-padding:         .3rem;

// $table-bg:                      transparent;
// $table-bg-accent:               rgba(0,0,0,.05);
// $table-bg-hover:                rgba(0,0,0,.075);
// $table-bg-active:               $table-bg-hover;

// $table-border-width:            $border-width;
// $table-border-color:            $gray-lighter;


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-padding-x:                  1.875rem;
$btn-padding-y:                  .6875rem;
// $btn-line-height:                1.25;
// $btn-font-weight:                normal;
$btn-box-shadow:                 none;
$btn-active-box-shadow:          none;

// $btn-primary-color:              #fff;
// $btn-primary-bg:                 $brand-primary;
// $btn-primary-border:             $btn-primary-bg;

// $btn-secondary-color:            $gray-dark;
// $btn-secondary-bg:               #fff;
// $btn-secondary-border:           #ccc;

// $btn-info-color:                 #fff;
// $btn-info-bg:                    $brand-info;
// $btn-info-border:                $btn-info-bg;

// $btn-success-color:              #fff;
// $btn-success-bg:                 $brand-success;
// $btn-success-border:             $btn-success-bg;

// $btn-warning-color:              #fff;
// $btn-warning-bg:                 $brand-warning;
// $btn-warning-border:             $btn-warning-bg;

// $btn-danger-color:               #fff;
// $btn-danger-bg:                  $brand-danger;
// $btn-danger-border:              $btn-danger-bg;

// $btn-link-disabled-color:        $gray-light;

$btn-padding-x-sm:               1.875rem;
// $btn-padding-y-sm:               .25rem;

$btn-padding-x-lg:               1.875rem;
$btn-padding-y-lg:               .85rem;

// $btn-block-spacing-y:            .5rem;
// $btn-toolbar-margin:             .5rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:              6rem;
$btn-border-radius-lg:           6rem;
$btn-border-radius-sm:           6rem;


// Forms

$input-padding-x:                .625rem;
$input-padding-y:                .9375rem;
// $input-line-height:              1.25;

// $input-bg:                       #fff;
// $input-bg-disabled:              $gray-lighter;

// $input-color:                    $gray;
$input-border-color:             rgba(0,0,0,.2);
// $input-btn-border-width:         $border-width; // For form controls and buttons
$input-box-shadow:               none;

$input-border-radius:            4px;
// $input-border-radius-lg:         $border-radius-lg;
// $input-border-radius-sm:         $border-radius-sm;

// $input-bg-focus:                 $input-bg;
$input-border-focus:             $input-border-color;
$input-box-shadow-focus:         transparent;
$input-color-focus:              transparent;

$input-color-placeholder:        rgba($c-black, .6);

// $input-padding-x-sm:             .5rem;
// $input-padding-y-sm:             .25rem;

// $input-padding-x-lg:             1.5rem;
// $input-padding-y-lg:             .75rem;

// $input-height:                   (($font-size-base * $line-height-base) + ($input-padding-y * 2));
// $input-height-lg:                (($font-size-lg * $line-height-lg) + ($input-padding-y-lg * 2));
// $input-height-sm:                (($font-size-sm * $line-height-sm) + ($input-padding-y-sm * 2));

// $form-group-margin-bottom:       $spacer-y;

// $input-group-addon-bg:           $gray-lighter;
// $input-group-addon-border-color: $input-border-color;

// $cursor-disabled:                not-allowed;

// $custom-control-gutter:   1.5rem;
// $custom-control-spacer-x: 1rem;
// $custom-control-spacer-y: .25rem;

// $custom-control-indicator-size:       1rem;
// $custom-control-indicator-bg:         #ddd;
// $custom-control-indicator-bg-size:    50% 50%;
// $custom-control-indicator-box-shadow: inset 0 .25rem .25rem rgba(0,0,0,.1);

// $custom-control-disabled-cursor:             $cursor-disabled;
// $custom-control-disabled-indicator-bg:       #eee;
// $custom-control-disabled-description-color:  #767676;

// $custom-control-checked-indicator-color:      #fff;
// $custom-control-checked-indicator-bg:         #0074d9;
// $custom-control-checked-indicator-box-shadow: none;

// $custom-control-focus-indicator-box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;

// $custom-control-active-indicator-color:      #fff;
// $custom-control-active-indicator-bg:         #84c6ff;
// $custom-control-active-indicator-box-shadow: none;

// $custom-checkbox-radius: $border-radius;
// $custom-checkbox-checked-icon: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
// $custom-checkbox-indeterminate-bg: #0074d9;
// $custom-checkbox-indeterminate-icon: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
// $custom-checkbox-indeterminate-box-shadow: none;

// $custom-radio-radius: 50%;
// $custom-radio-checked-icon: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");

// $custom-select-padding-x:          .75rem ;
// $custom-select-padding-y:          .375rem;
// $custom-select-indicator-padding:  1rem; // Extra padding to account for the presence of the background-image based indicator
// $custom-select-color:          $input-color;
// $custom-select-disabled-color: $gray-light;
// $custom-select-bg:            #fff;
// $custom-select-disabled-bg:   $gray-lighter;
// $custom-select-bg-size:       8px 10px; // In pixels because image dimensions
// $custom-select-indicator:     url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
// $custom-select-border-width:  $input-btn-border-width;
// $custom-select-border-color:  $input-border-color;
// $custom-select-border-radius: $border-radius;

// $custom-select-focus-border-color: #51a7e8;
// $custom-select-focus-box-shadow:   inset 0 1px 2px rgba(0, 0, 0, .075), 0 0 5px rgba(81, 167, 232, .5);

// $custom-select-sm-padding-y: .2rem;
// $custom-select-sm-font-size: 75%;

// $custom-file-height:           2.5rem;
// $custom-file-width:            14rem;
// $custom-file-focus-box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;

// $custom-file-padding-x:     .5rem;
// $custom-file-padding-y:     1rem;
// $custom-file-line-height:   1.5;
// $custom-file-color:         #555;
// $custom-file-bg:            #fff;
// $custom-file-border-width:  $border-width;
// $custom-file-border-color:  #ddd;
// $custom-file-border-radius: $border-radius;
// $custom-file-box-shadow:    inset 0 .2rem .4rem rgba(0,0,0,.05);
// $custom-file-button-color:  $custom-file-color;
// $custom-file-button-bg:     #eee;
// $custom-file-text: (
//  placeholder: (
//    en: "Choose file..."
//  ),
//  button-label: (
//    en: "Browse"
//  )
//);


// Form validation icons
// $form-icon-success: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
// $form-icon-warning: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
// $form-icon-danger: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");


// Dropdowns
//
// Dropdown menu container and contents.

// $dropdown-min-width:             160px;
// $dropdown-padding-y:             5px;
// $dropdown-margin-top:            2px;
// $dropdown-bg:                    #fff;
// $dropdown-border-color:          rgba(0,0,0,.15);
// $dropdown-border-width:          $border-width;
// $dropdown-divider-bg:            #e5e5e5;
// $dropdown-box-shadow:            0 6px 12px rgba(0,0,0,.175);

// $dropdown-link-color:            $gray-dark;
// $dropdown-link-hover-color:      darken($gray-dark, 5%);
// $dropdown-link-hover-bg:         #f5f5f5;

// $dropdown-link-active-color:     $component-active-color;
// $dropdown-link-active-bg:        $component-active-bg;

// $dropdown-link-disabled-color:   $gray-light;

// $dropdown-item-padding-x:        20px;

// $dropdown-header-color:          $gray-light;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

// $zindex-dropdown-backdrop:  990;
// $zindex-navbar:            1000;
// $zindex-dropdown:          1000;
// $zindex-popover:           1060;
// $zindex-tooltip:           1070;
// $zindex-navbar-fixed:      1030;
// $zindex-navbar-sticky:     1030;
// $zindex-modal-bg:          1040;
// $zindex-modal:             1050;


// Navbar

// $navbar-border-radius:              $border-radius;
// $navbar-padding-x:                  $spacer;
// $navbar-padding-y:                  ($spacer / 2);
// $navbar-brand-padding-y:            .25rem;

// $navbar-dark-color:                 rgba(255,255,255,.5);
// $navbar-dark-hover-color:           rgba(255,255,255,.75);
// $navbar-dark-active-color:          rgba(255,255,255,1);
// $navbar-dark-disabled-color:        rgba(255,255,255,.25);

// $navbar-light-color:                rgba(0,0,0,.3);
// $navbar-light-hover-color:          rgba(0,0,0,.6);
// $navbar-light-active-color:         rgba(0,0,0,.8);
// $navbar-light-disabled-color:       rgba(0,0,0,.15);


// Navs

// $nav-item-margin:               .2rem;
// $nav-item-inline-spacer:        1rem;
// $nav-link-padding:              .5em 1em;
// $nav-link-hover-bg:             $gray-lighter;
// $nav-disabled-link-color:       $gray-light;
// $nav-disabled-link-hover-color: $gray-light;
// $nav-disabled-link-hover-bg:    transparent;

$nav-tabs-border-color:                       transparent;
// $nav-tabs-border-width:                       $border-width;
// $nav-tabs-border-radius:                      $border-radius;
$nav-tabs-link-hover-border-color:            transparent;
// $nav-tabs-active-link-hover-color:            $gray;
// $nav-tabs-active-link-hover-bg:               $body-bg;
$nav-tabs-active-link-hover-border-color:     transparent;
// $nav-tabs-justified-link-border-color:        #ddd;
$nav-tabs-justified-active-link-border-color: transparent;

// $nav-pills-border-radius:     $border-radius;
// $nav-pills-active-link-color: $component-active-color;
// $nav-pills-active-link-bg:    $component-active-bg;


// Pagination

// $pagination-padding-x:                .75rem;
// $pagination-padding-y:                .5rem;
// $pagination-padding-x-sm:             .75rem;
// $pagination-padding-y-sm:             .275rem;
// $pagination-padding-x-lg:             1.5rem;
// $pagination-padding-y-lg:             .75rem;


// $pagination-color:                     $link-color;
// $pagination-bg:                        #fff;
// $pagination-border-width:              $border-width;
// $pagination-border-color:              #ddd;

// $pagination-hover-color:               $link-hover-color;
// $pagination-hover-bg:                  $gray-lighter;
// $pagination-hover-border:              #ddd;

// $pagination-active-color:              #fff;
// $pagination-active-bg:                 $brand-primary;
// $pagination-active-border:             $brand-primary;

// $pagination-disabled-color:            $gray-light;
// $pagination-disabled-bg:               #fff;
// $pagination-disabled-border:           #ddd;


// Jumbotron

// $jumbotron-padding:              2rem;
// $jumbotron-bg:                   $gray-lighter;


// Form states and alerts
//
// Define colors for form feedback states and, by default, alerts.

// $state-success-text:             #3c763d;
// $state-success-bg:               #dff0d8;
// $state-success-border:           darken($state-success-bg, 5%);

// $state-info-text:                #31708f;
// $state-info-bg:                  #d9edf7;
// $state-info-border:              darken($state-info-bg, 7%);

// $state-warning-text:             #8a6d3b;
// $state-warning-bg:               #fcf8e3;
// $mark-bg:                        $state-warning-bg;
// $state-warning-border:           darken($state-warning-bg, 5%);

$state-danger-text:              $state-danger;
// $state-danger-bg:                #f2dede;
$state-danger-border:            darken($state-danger-text, 5%);


// Cards
// $card-spacer-x:            1.25rem;
// $card-spacer-y:            .75rem;
// $card-border-width:        1px;
// $card-border-radius:       $border-radius;
// $card-border-color:        rgba(0,0,0,.125);
// $card-border-radius-inner: $card-border-radius;
// $card-cap-bg:              #f5f5f5;
// $card-bg:                  #fff;

// $card-link-hover-color:    #fff;

// $card-img-overlay-padding: 1.25rem;

// $card-deck-margin:         .625rem;

// $card-columns-sm-up-column-gap: 1.25rem;


// Tooltips

$tooltip-max-width:           248px;
$tooltip-color:               $c-white;
$tooltip-bg:                  rgba(0, 0, 0, .2);
$tooltip-padding-y:           0.6875rem 2.125rem;  // top, right
$tooltip-padding-x:           0.875rem 0.875rem;   // bottom, left
$tooltip-margin:              0.6875rem;
$tooltip-opacity:             1;

// $tooltip-arrow-width:         10px;
$tooltip-arrow-width:         8px;
// $tooltip-arrow-color:         $tooltip-bg;


// Popovers

// $popover-inner-padding:               1px;
// $popover-bg:                          #fff;
// $popover-max-width:                   276px;
// $popover-border-width:                $border-width;
// $popover-border-color:                rgba(0,0,0,.2);
// $popover-box-shadow:                  0 5px 10px rgba(0,0,0,.2);

// $popover-title-bg:                    darken($popover-bg, 3%);
// $popover-title-padding-x:             14px;
// $popover-title-padding-y:             8px;

// $popover-content-padding-x:           14px;
// $popover-content-padding-y:           9px;

// $popover-arrow-width:                 10px;
// $popover-arrow-color:                 $popover-bg;

// $popover-arrow-outer-width:           ($popover-arrow-width + 1px);
// $popover-arrow-outer-color:           fade-in($popover-border-color, .05);


// Tags

// $tag-default-bg:            $gray-light;
// $tag-primary-bg:            $brand-primary;
// $tag-success-bg:            $brand-success;
// $tag-info-bg:               $brand-info;
// $tag-warning-bg:            $brand-warning;
// $tag-danger-bg:             $brand-danger;

// $tag-color:                 #fff;
// $tag-link-hover-color:      #fff;
// $tag-font-size:             75%;
// $tag-font-weight:           bold;
// $tag-padding-x:             .4em;
// $tag-padding-y:             .25em;

// $tag-pill-padding-x:        .6em;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
// $tag-pill-border-radius:    10rem;

// Modals

// Padding applied to the modal body
// $modal-inner-padding:         15px;

// $modal-dialog-margin:         10px;
// $modal-dialog-sm-up-margin-y: 30px;

$modal-title-padding:         1.5rem;
// $modal-title-line-height:     $line-height-base;

// $modal-content-bg:               #fff;
// $modal-content-border-color:     rgba(0,0,0,.2);
$modal-content-border-width:     0;
$modal-content-xs-box-shadow:    none;
$modal-content-sm-up-box-shadow: none;

$modal-backdrop-bg:           $c-black;
$modal-backdrop-opacity:      .8;
// $modal-header-border-color:   #e5e5e5;
// $modal-footer-border-color:   $modal-header-border-color;
// $modal-header-border-width:   $modal-content-border-width;
// $modal-footer-border-width:   $modal-header-border-width;

$modal-lg:                    1100px;
// $modal-md:                    600px;
// $modal-sm:                    300px;


// Alerts
//
// Define alert colors, border radius, and padding.

// $alert-padding:               15px;
// $alert-border-radius:         $border-radius;
// $alert-link-font-weight:      bold;
// $alert-border-width:          $border-width;

// $alert-success-bg:            $state-success-bg;
// $alert-success-text:          $state-success-text;
// $alert-success-border:        $state-success-border;

// $alert-info-bg:               $state-info-bg;
// $alert-info-text:             $state-info-text;
// $alert-info-border:           $state-info-border;

// $alert-warning-bg:            $state-warning-bg;
// $alert-warning-text:          $state-warning-text;
// $alert-warning-border:        $state-warning-border;

// $alert-danger-bg:             $state-danger-bg;
// $alert-danger-text:           $state-danger-text;
// $alert-danger-border:         $state-danger-border;


// Progress bars

// $progress-bg:                 #eee;
// $progress-bar-color:          #0074d9;
// $progress-border-radius:      $border-radius;
// $progress-box-shadow:         inset 0 .1rem .1rem rgba(0,0,0,.1);

// $progress-bar-bg:             $brand-primary;
// $progress-bar-success-bg:     $brand-success;
// $progress-bar-warning-bg:     $brand-warning;
// $progress-bar-danger-bg:      $brand-danger;
// $progress-bar-info-bg:        $brand-info;


// List group

// $list-group-bg:                 #fff;
// $list-group-border-color:       #ddd;
// $list-group-border-width:       $border-width;
// $list-group-border-radius:      $border-radius;

// $list-group-hover-bg:           #f5f5f5;
// $list-group-active-color:       $component-active-color;
// $list-group-active-bg:          $component-active-bg;
// $list-group-active-border:      $list-group-active-bg;
// $list-group-active-text-color:  lighten($list-group-active-bg, 40%);

// $list-group-disabled-color:      $gray-light;
// $list-group-disabled-bg:         $gray-lighter;
// $list-group-disabled-text-color: $list-group-disabled-color;

// $list-group-link-color:         #555;
// $list-group-link-hover-color:   $list-group-link-color;
// $list-group-link-heading-color: #333;

// $list-group-item-padding-x:             1.25rem;
// $list-group-item-padding-y:             .75rem;
// $list-group-item-heading-margin-bottom: 5px;


// Image thumbnails

// $thumbnail-padding:           .25rem;
// $thumbnail-bg:                $body-bg;
// $thumbnail-border-width:      $border-width;
// $thumbnail-border-color:      #ddd;
// $thumbnail-border-radius:     $border-radius;
// $thumbnail-box-shadow:        0 1px 2px rgba(0,0,0,.075);


// Figures

// $figure-caption-font-size: 90%;


// Breadcrumbs

// $breadcrumb-padding-y:          .75rem;
// $breadcrumb-padding-x:          1rem;
// $breadcrumb-item-padding:       .5rem;

// $breadcrumb-bg:                 $gray-lighter;
// $breadcrumb-divider-color:      $gray-light;
// $breadcrumb-active-color:       $gray-light;
// $breadcrumb-divider:            "/";


// Media objects

// $media-margin-top:            15px;
// $media-heading-margin-bottom:  5px;
// $media-alignment-padding-x:   10px;


// Carousel

// $carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);

// $carousel-control-color:                      #fff;
// $carousel-control-width:                      15%;
// $carousel-control-sm-up-size:                 30px;
// $carousel-control-opacity:                    .5;
// $carousel-control-font-size:                  20px;

// $carousel-indicators-width:                   60%;

// $carousel-indicator-size:                     10px;
// $carousel-indicator-active-size:              12px;
// $carousel-indicator-active-bg:                #fff;
// $carousel-indicator-border-color:             #fff;

// $carousel-caption-width:                      70%;
// $carousel-caption-sm-up-width:                60%;
// $carousel-caption-color:                      #fff;

// $carousel-icon-width:                         20px;


// Close

// $close-font-weight:           bold;
// $close-color:                 #000;
// $close-text-shadow:           0 1px 0 #fff;


// Code

// $code-font-size:              90%;
// $code-padding-x:              .4rem;
// $code-padding-y:              .2rem;
// $code-color:                  #bd4147;
// $code-bg:                     #f7f7f9;

// $kbd-color:                   #fff;
// $kbd-bg:                      #333;

// $pre-bg:                      #f7f7f9;
// $pre-color:                   $gray-dark;
// $pre-border-color:            #ccc;
// $pre-scrollable-max-height:   340px;

// CTA Block
$cta-block-min-opacity:             .6;
$cta-block-max-opacity-limited:     .8;
