
// Elements
// ----------------------------------------------------------------------------

label {
  font-family: $font-family-sans-serif;
  font-weight: 500;
  font-size: .9375rem;
  line-height: 1.25rem;
  color: $c-black;
  margin-bottom: 0;
}

.vs-label-form-wrapper {
  margin-bottom: rem(18);
}

.vs-focus-label {
  @include transition(all .2s ease);
  opacity: .6;
  color: #767676;
  cursor: text;
  position: absolute;
  left: 0.625rem;
  top: .9375rem;
  font-size: .75rem;
}

.vs-form-group {
  position: relative;
  margin-bottom: .625rem;
  max-width: 21.75rem;

  + h1, + h2, + h3, + h4, + h5, + h6 {
    margin-top: 2.1875rem;
  }
}

.form-control {
  font-weight: 500;
  color: $c-black;
  padding: 1.25rem .625rem .625rem;

  &:focus ~ .vs-focus-label,
  &.vs-form-control--not-empty ~ .vs-focus-label,
  &:-webkit-autofill ~ .vs-focus-label {
    color: #767676;
    opacity: 1;
    top: 0.5rem;
    font-size: 0.625rem;
    line-height: 0.75rem;
  }

  &:focus {
    @include box-shadow(none);
    color: $c-black;
  }
}

.vs-form-group--textarea:before {
  content: '';
  width: calc(100% - 2px);
  height: 1.5rem;
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: $c-white;
  border-radius: 4px 4px 0 0;
}

.vs-textarea {
  height: 8.75rem;
  padding-top: 1.5rem;
  padding-bottom: 0.3125rem;
  resize: none;
  line-height: normal;

  ~ .vs-focus-label {
    top: .625rem
  }
}

.form-completion {
    padding: 0 40px;
    text-align: center;

    @include media-breakpoint-up(md) {
      padding: 0;
    }
}

.vs-form-header {
  font-family: $font-family-serif;
  color: $c-orange-bright;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-bottom: .75rem;
  max-width: 80%;

  @include media-breakpoint-up(md) {
    font-size: 1.5625rem;
    max-width: none;
  }

  .form-completion & {
    max-width: none;
  }
}

.vs-form-header--centered {
  text-align: center;
}

.vs-form-header__info {
  font-family: $font-family-sans-serif;
  font-size: .9375rem;
  color: $c-black;
  margin-bottom: 1.75rem;
  font-weight: 500;
}

.vs-form-description {
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
  font-size: .875rem;
  max-width: 21.75rem;
  color: rgba(#767676, .7);
  font-weight: 400;
}

.vs-form-gdpr-description {
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
  font-size: rem(12);
  max-width: 21.75rem;
  color: rgba(#767676, .7);
  font-weight: 400;

  a {
    color: $c-red;
  }
}


// Select group
// ----------------------------------------------------------------------------

.vs-chosen-wrapper {
  border: 0.0625rem solid rgba($c-black, .2);
  border-radius: 0.25rem;
  padding: 1.3125rem 0 .125rem;
  font-size: 0;

  > .vs-focus-label  {
    top: 0.15rem;
    font-size: 0.625rem;
  }
}


// Inline forms
// ----------------------------------------------------------------------------

.vs-form-group--checkboxes > div {
  display: inline-block;

  & {
    padding-right: 1.875rem;
  }

  &:last-of-type,
  &:only-child {
    padding-right: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}


// Radio buttons
// ----------------------------------------------------------------------------

.vs-form-group--radio-buttons {
  padding-top: 20px;
  margin-bottom: 24px;

  .vs-form-group--checkboxes + & {
    padding-top: 0.0625rem;
  }

  &.vs-form-group--radio-buttons--inline > div {
    display: inline-block;

    & {
      padding-right: 1.875rem;
    }
  }

  & + & {
    padding-top: 0.3125rem;
  }
}

.vs-form-radio {
  &:last-child {
    padding-bottom: 0;
  }
}

.vs-form-input--radio {
  position: absolute;
  opacity: 0;
  left: -625rem;

  &:focus ~ .vs-form-label--radio:before {
    @include box-shadow(0 0 3px 2px rgba($c-black, .2));
    outline: none;
    border-radius: 50%;
  }
}

.vs-form-label--radio {
  font-size: .9375rem;
  padding-left: 1.875rem;
  position: relative;
  cursor: pointer;

  &:before {
    @include transition(all .2s);
    @include box-shadow(0 0 0 1px rgba($c-black, .2));
    content: '';
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0.125rem;
  }

  &:after {
    @include transition(all .2s);
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0.3125rem;
    left: 0.1875rem;
  }

  .vs-form-input--radio:checked + &:after {
    background-color: $c-orange-bright;
  }
}

// Checkboxes
// ----------------------------------------------------------------------------

.vs-form-group--checkboxes {
  .vs-form-group + & {
    padding-top: 0.625rem;
  }
  & + & {
    padding-top: 0.125rem;
    padding-bottom: 0;

    .vs-form-check {
      padding-bottom: 0.1875rem;
    }
  }

  .vs-form-group--radio-buttons + & {
    padding-top: 0.375rem;
  }

  & + .vs-form-group {
    padding-top: 0.125rem;
  }

  & + .vs-form-group--radio-buttons {
    padding-top: 0.0625rem;
  }
}

.vs-form-check {
  padding-bottom: 0.1875rem;

  &:last-child {
    padding-bottom: 0;
  }
}

.vs-form-input--check {
  position: absolute;
  opacity: 0;
  left: -625rem;

  &:focus ~ .vs-form-label--check:before {
    @include box-shadow(0 0 3px 1px rgba($c-black, .2));
    outline: none;
  }
}

.vs-form-label--check {
  padding-left: 1.875rem;
  position: relative;
  cursor: pointer;

  &:before {
    @include transition(all .2s);
    content: '';
    border: 1px solid rgba($c-black, .2);
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0.125rem;
  }

  &:after {
    @include transition(all .2s);
    content: '';
    background: transparent url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMTRweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTQgMTIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+R3JvdXA8L3RpdGxlPiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4gICAgPGRlZnM+PC9kZWZzPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIj4gICAgICAgIDxnIGlkPSJHcm91cCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMi4wMDAwMDAsIDIuMDAwMDAwKSIgc3Ryb2tlPSIjRkYwMDQwIiBzdHJva2Utd2lkdGg9IjIiPiAgICAgICAgICAgIDxwYXRoIGQ9Ik0zLDggTDEwLDAiIGlkPSJMaW5lIj48L3BhdGg+ICAgICAgICAgICAgPHBhdGggZD0iTTMsOCBMMCw1IiBpZD0iTGluZSI+PC9wYXRoPiAgICAgICAgPC9nPiAgICA8L2c+PC9zdmc+') no-repeat center center;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0.125rem;
    opacity: 0;
  }

  .vs-form-input--check:checked + &:after {
    opacity: 1;
  }
}

// Validations
// ----------------------------------------------------------------------------

.vs-has-error {
  .form-control,
  .vs-chosen-wrapper,
  .vs-chosen-wrapper .chosen-drop,
  .vs-form-label--check:before,
  .chosen-drop:before {
    border-color: $state-danger !important;
  }

  .vs-form-input--check:focus ~ .vs-form-label--check:before {
    @include box-shadow(0 0 3px 1px $state-danger);
  }

  .vs-form-label--radio:before {
    @include box-shadow(0 0 0 1px $state-danger);
  }

  .vs-form-input--radio:focus ~ .vs-form-label--radio:before {
    @include box-shadow(0 0 3px 2px $state-danger);
  }

  .vs-form--disabled .vs-form-label--radio:before {
    @include box-shadow(0 0 0 1px rgba($c-black, .2));
  }

  .vs-form--disabled .vs-form-label--check:before {
    border-color: rgba($c-black, .2);
  }
}

.vs-error-label {
  color: $state-danger;
  font-size: .625rem;
  line-height: 0.75rem;
  padding: .3125rem 0;

  .vs-form-check + & {
    padding-top: 0;
  }
}

.vs-form-submit {
  text-align: center;
  padding: rem(30) 0 rem(10);
}

.vs-user-register--form-submit.vs-btn:focus {
  opacity: 1;
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-up(md) {
  label {
    font-size: 0.9375rem;
    line-height: 1.5rem;

    .vs-select-wrapper > & {
      line-height: 0.75rem;
      margin-bottom: 0.125rem;
    }
  }

  .form-control {
    font-size: 0.9375rem;

    &:focus ~ .vs-focus-label,
    &.vs-form-control--not-empty ~ .vs-focus-label {
      top: 0.4375rem;
      font-size: 0.625rem;
      line-height: 0.75rem;
    }
  }

  .vs-focus-label {
    top: 0.8125rem;
    font-size: .9375rem;

    &--radio {
      font-size: 0.9375rem;
    }
  }

  .vs-form-label--check:before,
  .vs-form-label--check:after {
    top: 0.25rem;
  }

  .vs-error-label {
    padding: .5rem 0;
  }

  .vs-form-check {
    padding-bottom: 0;
  }

  .vs-form {
    & + .vs-form-group {
      padding-top: 0.3125rem;
    }

    & + .vs-form-group--radio-buttons {
      padding-top: 0;
      margin-top: 0.75rem;
    }

    & + & {
      padding-top: 0.125rem;
      padding-bottom: 0;

      .vs-form-check {
        padding-top: 0.1875rem;
        padding-bottom: 0;
      }
    }
  }

  .vs-form-radio {
    padding-bottom: 0;
  }

  .vs-form-group--radio-buttons {
    & + & {
      padding-top: 0.3125rem;
    }

    & + .vs-form-group {
      padding-top: 0.25rem;
    }

    & + .vs-form-group--checkboxes {
      padding-top: 0.0625rem;
    }
  }
}
