.vs-placeholder-bg:before {
  @include transition(opacity .6s ease);
  border-radius: .625rem;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  z-index: 0;

  .vs-head-region & {
    border-radius: 0;
  }
}

/**
 * These classes refer to vs-image.js class list
 */

.vs-card-past__image,
.vs-package-card-wrapper,
.vs-card-untimed-event__image,
.vs-claim-ticket__background,
.vs-festival-profile-header__background,
.vs-carousel__image,
.vs-promo-banner__background,
.vs-hero-banner__background--fixed,
.vs-promo-banner__background,
.vs-hero-event-card__image,
.vs-card-upcoming__image,
.vs-cta-block__background--with-image-limited-opacity,
.vs-basic-content-block__hero-image,
.vs-photo-gallery__thumbnail {
  &:not(.vs-placeholder-bg) {
    background-size: 0.001%;
  }
}

.vs-placeholder-bg--disabled:before {
  opacity: 0;
}

.picture-wrapper__placeholder {
  @include transition(opacity .6s ease);
  opacity: 1;
}

.picture-wrapper__placeholder--disabled {
  opacity: 0;
}

@each $color in map-keys($color-schemes) {
  $map: map_get($color-schemes, $color);

  .vs-placeholder-bg--#{$color}:before {
    @include gradient-directional(map_get($map, 'from'), map_get($map, 'to'), map_get($map, 'rotate'));
  }

  .picture-wrapper__placeholder--#{$color} {
    @include gradient-directional(map_get($map, 'from'), map_get($map, 'to'), map_get($map, 'rotate'));
  }
}
