
.navbar-administration {
  &:not(.responsive-preview-frame) {
    .vs-menu-trigger.vs-menu-trigger--menu { top: 40px; }
    .vs-overlay-blur { padding-top: 39px; }
  }

  &.navbar-tray-open.navbar-fixed.navbar-horizontal {
    .vs-menu-trigger.vs-menu-trigger--menu { top: 80px; }
    .vs-overlay-blur { padding-top: 80px; }
    .vs-head-region .vs-hero-banner__background--fixed { top: 80px; }
  }
}
