
// Elements
// ----------------------------------------------------------------------------

.container.vs-user-login {
  .nav-tabs .nav-item {
    width: 100%;
    h3 {
      border-bottom: 6px solid $c-orange-bright;
      color: #FF1403;
      font-family: $font-family-serif;
      font-size: 1.25rem;
      padding: 1.5625rem 0;
      text-transform: uppercase;
    }
  }
  .tab-content > .tab-pane {
    padding: 3rem .375rem;
    @include media-breakpoint-up(md) {
      padding: 3.625rem .9375rem;
    }

    .vs-login-update-notice {
      border: 6px solid $c-orange-bright;
      margin-bottom: 2rem;
      padding: 1rem;
      text-align: center;
      h3 {
        color: #FF1403;
        font-family: $font-family-serif;
        font-size: 1.25rem;
        text-transform: uppercase;
      }
    }
  }
}

.vs-user-login--form {
  .vs-focus-label {
    position: absolute;
    top: 0.9375rem;
  }
}

.vs-user-login--form__recover-pass {
  @include transition(all .2s);
  font-size: 10px;
  color: $body-color;
  float: right;
  width: 100%;
  text-align: right;
  margin-bottom: 30px;
  text-decoration: underline;

  &:hover {
    color: $body-color;
    opacity: .7;
  }
}

.vs-user-login--form-submit {
  min-width: 16.25rem;
  margin: 0 auto;
  display: block;
}


// Responsive
// ----------------------------------------------------------------------------

@include media-breakpoint-down(sm) {
  .hybridauth-facebook-hybridauth-32 {
    min-width: 16.25rem;
  }
}
