
// This file covers the notification component
// ----------------------------------------------------------------------------

.vs-notification {
  .vs-notification__message a {
    color: inherit;
    text-decoration: underline;
  }
}
