// This file is responsabile for adjusting the spacing
// between components inside regions

// List of components that do not have margin bottom when
// they are the last child
$last-child-count: 3;

.vs-hero-banner,
.panels-ipe--vs-hero-banner,
.vs-cta-block,
.panels-ipe--vs-cta-block,
.vs-mylaps {
  &:last-child,
  &:nth-last-child(#{$last-child-count}) {
    margin-bottom: 0;
  }
}

// Component margin adjustments
.vs-hero-banner,
.panels-ipe--vs-hero-banner {
  margin-bottom: 80px;
  .panels-ipe-editing & { margin-bottom: 0; }
}

.vs-cta-block,
.panels-ipe--vs-cta-block {
  margin-bottom: 80px;
  .panels-ipe-editing & { margin-bottom: 0; }

  + .vs-hero-banner,
  + .panels-ipe--vs-hero-banner {
    margin-top: -70px;

    @include media-breakpoint-down('md') {
      margin-top: -78px;
    }
  }
}

.vs-basic-content-block,
.panels-ipe--vs-basic-content-block {
  margin-bottom: 80px;
  .panels-ipe-editing & { margin-bottom: 0; }
}

.vs-carousel,
.panels-ipe--vs-carousel {
  margin-bottom: 80px;
  .panels-ipe-editing & { margin-bottom: 0; }
}

.vs-hero-event-card,
.panels-ipe--vs-hero-event-card {
  margin-bottom: 80px;
  .panels-ipe-editing & { margin-bottom: 0; }
}

.vs-package-cards-wrapper,
.panels-ipe--vs-package-cards-wrapper {
  margin-bottom: 80px;
  .panels-ipe-editing & { margin-bottom: 0; }
}

.vs-promo-banner-wrapper,
.panels-ipe--vs-promo-banner-wrapper {
  margin-top: 40px;
  margin-bottom: 80px;
  .panels-ipe-editing & { margin-bottom: 0; }
}

.vs-ticket-type-wrapper,
.panels-ipe--vs-ticket-type-wrapper {
  margin-top: 30px;
  margin-bottom: 100px;
  .panels-ipe-editing & { margin-bottom: 0; }
}

.vs-accordion,
.panels-ipe--vs-accordion {
  margin-top: 30px;
  margin-bottom: 100px;
  .panels-ipe-editing & { margin-bottom: 0; }
}

.vs-card-untimed-event,
.panels-ipe--vs-card-untimed-event {
  margin-bottom: 80px;
  .panels-ipe-editing & { margin-bottom: 0; }
}

.vs-results-overview,
.panels-ipe--vs-results-overview {
  margin-bottom: 80px;
  .panels-ipe-editing & { margin-bottom: 0; }
}

.vs-claim-ticket,
.panels-ipe--vs-claim-ticket {
  margin-bottom: 60px;
  .panels-ipe-editing & { margin-bottom: 0; }

  @include media-breakpoint-down('sm') {
    margin-bottom: 30px;
  }
}

.vs-teaser,
.panels-ipe--vs-teaser {
  margin-bottom: 80px;
  .panels-ipe-editing & { margin-bottom: 0; }
}
