
// This file covers the site header
// ----------------------------------------------------------------------------

.vs-header__nav-wrapper {
  top: 0;

  @media screen and (min-width: $main-nav-breakpoint) {
    .vs-header--pinned & {
      top: 0;
    }
  }
}

.vs-menu-trigger--top {
  top: .5rem
}

@include media-breakpoint-up(md) {
  .vs-menu-trigger--top {
    top: 3rem;
  }
}

.vs-header__logo {
  top: rem(3);

  @include media-breakpoint-up(md) {
    top: .25rem;
  }
}

.vs-menu-open {
  position: fixed;
  width: 100%;
}
