
// This file handles user menu component
// ----------------------------------------------------------------------------

.has-touch .vs-user-menu__trigger {
  &:hover {
    @include box-shadow(inset 0 0 0 1.5px $c-white);
    background-color: transparent;
    border-color: $c-white;
    color: $c-white;
  }
}
