/**
 * @file
 * RTL styling for responsive preview.
 */

/**
 * navbar tab.
 */
.navbar-tab-responsive-preview .responsive-preview-trigger:after {
  left: 1em;
  right: auto;
}
.navbar-tab-responsive-preview.open:before {
  left: 0;
  right: auto;
}
.navbar-tab-responsive-preview.open .responsive-preview-trigger:after {
  left: 0.7em;
  right: auto;
}

/**
 * Responsive preview control placement.
 */
.responsive-preview-control.responsive-preview-close {
  left: 0;
  right: auto;
}
.responsive-preview-control.responsive-preview-orientation {
  left: auto;
  right: 0;
}
.responsive-preview-device-label-text:after {
  border-left-color: transparent;
  border-right-color: inherit;
  border-width: 0.8ex 0.9ex 0.8ex 0;
}
.responsive-preview-expanded .responsive-preview-device-label-text:after {
  border-left-color: inherit;
  border-right-color: transparent;
  border-width: 0.8ex 0 0.8ex 0.9ex;
}
