/**
 * @file
 * RTL base styling for responsive preview.
 */

.drupal-navbar .navbar-bar .navbar-tab-responsive-preview.navbar-tab {
  float: left;
}

/**
 * Preview container.
 *
 * The container is kept offscreen after it is built and has been disabled.
 */
.responsive-preview {
  left: auto;
  right: -200%;
}
.responsive-preview.active {
  left: auto;
  right: 0;
}
